.brdinsert_cont2 { 
    display: flex;
    justify-content: center;
    .center { 
        width: 80%;
        h2 { 
            margin:110px 0 100px;
            font-weight: 500;
            font-size: 40px;
            border-bottom: 1px solid #555;
            padding: 0 0 25px 10px;
        }
        .infoWrap { 
            text-align: center;
            display: flex;
            justify-content: center;
            margin-bottom: 50px;
            .info { 
                margin: 0 80px;
                width: 150px;
                span {
                    color: #555;
                    font-size: 25px;
                }
                .tit {
                    color: #555;
                    font-weight: 500;
                    font-size: 14px;
                    margin: 18px 0 15px;
                }
                .context {
                    color: #555;
                    font-size: 14px;
                    margin-bottom: 55px;
                }
            }
        }
        form { 
            width: 800px;
            margin: 0 auto;
            .Wrap { 
                display: flex;
                justify-content: space-between;
                input { 
                    border-bottom:1px solid #cdcdcd;
                    line-height: 45px;
                    width: 350px;
                    margin-bottom: 40px;
                    padding-left:20px;
                    font-size: 14px;
                    transition: all 0.5s;
                    &:hover { 
                        border-bottom: 1px solid #555;
                    }
                }
                
            }
            textarea {
                width: 750px;
                height: 240px;
                border:1px solid #cdcdcd;
                padding: 20px;
                margin:50px 0 100px;
                transition: all 0.5s;
                &:hover { 
                    border: 1px solid #555;
                }
            }
            .btnWrap { 
                display: flex;
                justify-content: center;
                margin-bottom: 50px;
                >button { 
                    display: block;
                    margin:0 10px 62px ;
                    width: 168px;
                    font-size: 13px;
                    line-height:45px ;
                    color: #555;
                    border: none;
                    border-radius: 5px;
                    background-color: #fff;
                    border: 1px solid #efefef;
                    transition:  all 0.5s;
                    &:hover { 
                        background-color: #555;
                        color: #fff;
                    }
                }
                >a { 
                    display: block;
                    margin:0 10px 62px ;
                    width: 168px;
                    font-size: 13px;
                    line-height:45px ;
                    color: #555;
                    border: none;
                    border-radius: 5px;
                    background-color: #aaa;
                    text-align: center;
                    background-color: #efefef;
                    border: 1px solid #efefef;
                    transition: all 0.5s;
                    &:hover { 
                        background-color: #fff;
                    }
                }
            }
            
        }
        
    }
}