.brddetail { 
    display: flex;
    justify-content: center;
    .center { 
        width: 80%;
        h2 { 
            margin: 100px 0 150px ;
            font-size: 40px;
            font-weight: 500;
            border-bottom: 1px solid #555;
            padding: 0 0 25px 10px;
        }
        .row {
            display: flex;
            justify-content: space-between;
            width: 90%;
            margin: 15px auto;
            .Wrap { 
                width: 45%;
                div { 
                    color: #555;
                    font-size: 14px;
                    font-weight: 500;
                    margin: 30px 0;
                    border-bottom:1px solid #cdcdcd ;
                    padding: 0 0 25px 10px;
                }
            }
        }
        .fileWrap { 
            display: flex;
            justify-content: space-between;
            width: 90%;
            margin: 0 auto;
            .filebox {
                width: 45%;
                margin-bottom: 30px;
                p { 
                    font-weight: 500;
                    font-size: 14px;
                    color: #555;
                    margin: 30px 0 20px;
                }
                .file { 
                    width: 93%;
                    margin: 0;
                    border: 1px solid #cdcdcd;
                    height: 260px;
                    color: #555;
                    font-size: 13px;
                    padding: 10px;
                    >img { 
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .textboxWrap {
                width: 45%;
                .msg { 
                    font-weight: 500;
                    font-size: 14px;
                    color: #555;
                    margin: 30px 0 20px;
                }
                .textbox { 
                  
                    border: 1px solid #cdcdcd;
                    height: 260px;
                    color: #555;
                    font-size: 13px;
                    padding: 10px;
                }
            }
        }
        .btnWrapper { 
            width: 90%;
            display: flex;
            justify-content: space-between;
            margin: 50px auto 150px;
            .list { 
                text-align: center;
                display: block;
                width: 130px;
                line-height: 40px;
                color: #fff;
                background-color: #ccc;
                border-radius: 50px;
            }
            .btnWrap { 
                display: flex;
                justify-content: space-between;
                width: 300px;
                >a { 
                    text-align: center;
                    display: block;
                    width: 130px;
                    line-height: 40px;
                    color: #555;
                    background-color: #fff;
                    border-radius: 50px;
                    border: 1px solid #555;
                    transition: all 0.5s;
                    &:hover { 
                        background-color: #555;
                        color: #fff;
                    }
                }
            }
        }
       
    }
}