#header { 
    .h_top { 
        background-color: #efefef;
        display: flex;
        justify-content: center;
        .center { 
            width: 90%;
            .log { 
                display: flex;
                width:200px ;
                margin-left: 89%;
                li {
                    line-height: 40px;
                    margin-left: 20px;
                    flex-direction: end;
                    a {
                        color:#000 ;
                        font-size: 13px;
                        font-weight: 500;
                        span {
                            color:#000 ;
                            font-size: 15px;
                            position: relative;
                            top: 2px;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
    .h_bot { 
        display: flex;
        justify-content: center;
        .center { 
            width: 90%;
            display: flex;
            justify-content: space-between;
            position: relative;
            .logo { 

                line-height: 100px;
                a { 
                    font-size: 40px;
                    color: #000;
                    font-weight: 500;
                }
            }
            .gnb { 
                display: flex;
                justify-content: space-between;
                
                li {
                    line-height: 100px;
                    margin:0 70px ;
                    &:last-child {
                        margin-right:0 ;
                    }
                    >a { 
                        display: block;
                        color: #000;
                        font-size: 20px; 
                        width: 100%;
                        position: relative;
                        &::after {
                            content: "";
                            display: block; 
                            width: 0%;
                            height: 1px;
                            background-color: #000;
                            position: absolute;
                            top: 61px;
                            left: 0;
                            transition: all 0.5s;

                        }
                        span {
                            display: none;
                            color: #fff;
                            position: relative;
                            top: 6px;
                         }
                         &:hover {
                            color: #000;
                            font-weight: 500;
                            &::after {
                                width: 105%;
                            }
                         }
                    }
                    a.on {
                        font-weight: 500;
                        &::after {
                            content: "";
                            display: block; 
                            width: 105%;
                            height: 1px;
                            background-color: #000;
                            position: absolute;
                            top: 61px;
                            left: 0;
                        }
                            span { color: #fff;}
                    }
                }
                
            }
            

            .subMenu { 
                display: none;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 35px;
                height: 25px;
                >span { 
                    transition: all 0.5s;
                    position: absolute;
                    width: 35px;
                    height: 1px;
                    background-color: #000;
                }
                .one { 
                    top: 10px;
                }
               
                .three { 
                    bottom: 1px;
                }
            }
            .subMenu.on { 
                .one { 
                    rotate: 45deg;
                    top: 50%;
                    transform: translateY(-50%);
                }
                .three { 
                    rotate: -45deg;
                    top: 50%;
                    transform: translateY(-50%);
                    bottom: 12px;
                }
            }
            .subgnbwrap { 
                position: absolute;
                top: 89px;
                right:-22%;
                background-color: #fff;
                width:0%;
                z-index: 99;
                margin: 0 auto;
                overflow: hidden;
                transition: all 0.5s;
                height: 882px;
                .subgnb { 
                 
                    > li { 
                        margin: 30px 25px;
                        line-height: 60px;
                        a {
                            color: #000;
                            font-size: 18px; 
                            position: relative;
                            &::after {
                                content: "";
                                display: block; 
                                width: 0%;
                                height: 1px;
                                background-color: #000;
                                position: absolute;
                                bottom: -5px;
                                left: 0;
                                transition: all 0.5s;
                            }
                            &:hover {
                                color: #000;
                                font-weight: 500;
                                &::after {
                                   
                                    width: 105%;
                                    
                                }
                             }
                        }
                    }
                }
                
                .condition_m { 
                    display: flex;
                    .log {
                        display: flex;
                        margin-top: 40px;
                        padding-left:10px ;
                        li { 
                            margin: 0 20px;
                            a {
                                font-size: 14px;
                                color: #000;
                                font-weight: 500;
                                span { 
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
            .subgnbwrap.active { 
                width: 50%;
            }
        }
    }
}