.intro_cont2 { 
    display: flex;
    justify-content: center;
    .center { 
        width: 1120px;
        display: flex;
        justify-content: space-between;
        padding:100px 0;
        img { 
            width: 440px;
            height: 350px;
        }
        .welcomeWrap { 
            margin-left:50px ;
            h2 { 
                font-size: 25px;
                margin:30px 0 ;
            }
            p {
                color: #555;
                font-size: 14px;
                line-height: 25px;
                margin-bottom: 25px;
            } 
            >.more { 
                display: block;
                border: 1px solid #efefef;
                width: 155px;
                color: #274aba;
                line-height:42px;
                text-align: center;
                font-size: 15px;
                border-radius: 21px;
            }
        }
    }
}
.intro_cont3 { 
    background-color:#f9f9f8 ;
    display: flex;
    justify-content: center;
    padding: 100px 0; 
    .center {
        width: 1120px;
        .title { 
            font-size: 25px;
            text-align: center;
            margin-bottom: 25px;
        }
        .sub_title {
            font-size: 14px;
            color: #555;
            margin-bottom: 45px;
            text-align: center;
        }
        .chooseBoxes { 
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            
            .box { 
                background-color: #fff;
                border: 1px solid #efefef;
                width: 300px;
                padding:35px 25px ;
                margin-bottom: 30px;
                display: flex;
                .left { 
                    margin-right: 15px;
                    >span { 
                        font-size: 50px;
                        color: #274aba;
                    }
                    .num { 
                        font-size: 22px;
                        color:#d4d0d0 ;
                        margin-top:13px ;
                        font-weight: bold;
                        text-align: center;
                    }
                }
                .right { 
                    h3 { 
                        font-size: 18px;
                        font-weight: 500;
                        margin-bottom: 17px;
                        line-height: 22px;
                    }
                    >p { 
                        font-size: 13px;
                        line-height: 22px;
                        margin-bottom:17px ;
                    }
                    >.more{ 
                        font-size: 14px;
                        color: #274aba;
                    }
                }
            }
            .box2,.box3 { 
                display: none;
                transition: all 0.5s;
            }
        }
        .readMore { 
            display: block;
            border: 1px solid #efefef;
            width: 155px;
            color: #274aba;
            line-height:42px;
            text-align: center;
            font-size: 15px;
            border-radius: 21px;
            background-color:#fff ;
            margin: 0 auto;
        }
    }
}
.intro_cont4 {
    display: flex;
    justify-content: center;
    position: relative;
    background-image: url(/img/me2.jpg);
    width: 100%;
    height: 100%;
    .bg { 
        position: absolute;
        background-color: rgba(0,0,0, 0.5);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    .center { 
        z-index: 99;
        padding: 100px 0;
        width: 600px;
        height: 100%;
        .title { 
            text-align: center;
            color: #fff;
            font-size: 27px;
            margin-bottom: 20px;
        }
        .sub_t { 
            text-align: center;
            color: #fff;
            font-size: 15px;
            margin-bottom: 50px;
        }
        .slider { 
            overflow: hidden;

            .view { 
                display: flex;
                width: 300%;
                transition: all 0.6s;
                border-radius: 5px;
                .s_box { 
                    margin: 0 50px;
                    width: 500px;
                    border-radius: 5px;
                    > p { 
                        background-color: #fff;
                        padding:30px 27px ;
                        border-radius: 5px;
                        margin-bottom: 30px;
                        font-size: 15px;
                        color: #333;
                        line-height: 40px;
                    }
                    >.writerWrap { 
                        display: flex;
                        align-items: center;
                        background-color: #fff;
                        border-radius: 50px;
                        width: 210px;
                        height: 47px;
                        padding: 5px;
                        margin: 0 auto;
                        >.left { 
                            
                            img { 
                                width: 50px;
                                height: 50px;
                                border-radius:50%;
                            }
                        }
                        >.right { 
                            margin-left: 15px;
                            .w_name { 
                                font-size: 16px;
                                font-weight: 500;
                                margin-bottom: 10px;
                            }
                            .job { 
                                font-size: 13px;
                                color: #333;
                            }
                        }
                    }
                }
            }
            .circleBtn {
                display: flex;
                margin: 30px auto 0;
                width: 120px;
                .cir { 
                    margin: 0 10px;
                    width: 14px;
                    height: 14px;
                    border-radius:50%;
                    background-color: #ccc;
                }
                .cir.on {
                    background-color: #274aba;
                    border: 3px solid #ccc;
                    box-sizing: border-box;
                }
            }
        }
    }
}
.intro_cont5 { 
    display: flex;
    justify-content: center;
    .center { 
        width: 1120px;
        padding: 100px 0;
        .title {
            font-size: 25px;
            margin-bottom: 20px;
            text-align: center;
        }
        .sub_title { 
            font-size: 15px;
            color: #555;
            margin-bottom: 50px;
            text-align: center;
        }
        .peo_boxes { 
            width: 100%;
            display: flex;
            justify-content: space-between;
            .box { 
                border: 1px solid #efefef;
                width: 352px;
                img { 
                    width: 352px;
                    height: 290px;
                }
                >p { 
                    margin:0 0 15px 20px;
                    font-size: 14px;
                    color: #555;
                    span { 
                        font-size: 16px;
                        margin-right: 8px;
                    }
                }
                .job { 
                    font-size: 13px;
                    margin-top: 20px;
                }
                .name { 
                    font-size: 16px;
                    font-weight: 500;
                    margin-bottom: 15px;
                }
            }
        }
    }
}