#container { 
    .main_cont1 { 
        position: relative;
        width: 100%;
        height: 785px;
        .mainSlider { 
            width: 100%;
            height: 100%;
            overflow: hidden;
            
            .mainview { 
                width: 300%;
                height: 100%;
                display: flex;
                transition: all 0.5s;
                .main_banner {
                    &:nth-child(2) {
                        background-image: url(/img/ho7.jpg);
                    }
                    &:nth-child(3) {
                        background-image: url(/img/ho8.jpg);

                    }

                    width:100%;
                    height: 100%;
                    background-image: url(/img/main5.jpg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    .bg { 
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0,0,0, 0.5);
                    }
                    >.textWrap { 
                        position: relative;
                        top: -50%;
                        left: 50%;

                        .m_text {
                            margin-bottom: 25px;
                            font-weight: bold;
                            font-size: 35px;
                        }
                        .s_text {
                            font-size: 15px;
                            line-height: 30px;
                        }
                        .btnWrap { 
                            display: flex;
                            width: 400px;
                            margin: 30px auto 0;
                            a { 
                                display: block;
                                margin: 10px ;
                                color: #fff;
                                line-height: 50px;
                                text-align: center;
                                font-size: 14px;
                            }
                            .nowbtn { 
                                width: 210px;
                                background-color: #274aba;
                            }
                            .morebtn {
                                border: 1px solid #fff;
                                width: 160px;
                                box-sizing: border-box;
                            }
                        }
                    }
                }
            }
            .btns { 
                >div {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: #fff;
                    width: 25px;
                    height: 50px;
                    border-radius: 20px;
                    >span { 
                        display: block;
                        line-height: 50px;
                        text-align: center;
                        font-size: 16px;
                        color: #000;
                    }
                }
                .next { 
                    right: 15px;
                }
                .prev {
                    left: 15px;
                    text-align: center;
                    >span {
                        position: relative;
                        left: 3px;
                    }
                }
            }
        }
      
        
    }
    .main_cont2 { 
        background-color: #efefef;
        display: flex;
        justify-content: center;
        .center { 
            width: 1120px;
            padding: 100px 0;
            .title { 
                text-align: center;
                font-size: 25px;
                font-weight: 500;
                margin-bottom: 20px;
            }
            .sub_title { 
                font-size: 15px;
                color: #555;
                margin-bottom: 50px;
                text-align: center;
            }
            .lookingWrap { 
                display: flex;
                justify-content: space-between;
                img{
                    height:540px;
                    width:540px;
                 }
                 .boxWrap { 
                    .box { 
                        padding: 20px;
                        width: 500px;
                        margin-bottom: 15px;
                        background-color: #fff;
                        border: 1px solid #ccc;
                        display: flex;
                        align-items: center;
                        span { 
                            color:#274aba ;
                            font-size: 50px;
                        }
                        .b_textWrap { 
                            margin-left: 15px;
                            .top { 
                                font-size: 18px;
                                font-weight: 500;
                                margin-bottom: 12px;
                            }
                            .bot { 
                                font-size: 14px;
                                line-height: 25px;
                                color: #555;
                            }
                        }
                    }
                 }
            }
        }
    }
    .main_cont3 { 
        display: flex;
        justify-content: center;
        .center { 
            width: 1120px;
            padding: 100px 0;
            .title { 
                text-align: center;
                font-size: 25px;
                font-weight: 500;
                margin-bottom: 20px;
            }
            .sub_title { 
                font-size: 15px;
                color: #555;
                margin-bottom: 50px;
                text-align: center;
            }
            >.slider { 
                width:1110px;
                overflow: hidden;
                .view { 
                    display: flex;
                    width: 200%;
                    transition: all 0.5s;
                    .s_box { 
                        width: 254px;
                        margin: 0 10px;
                        border: 1px solid #efefef;
                        img { 
                            width: 100%;
                            height: 170px;
                        }
                       .s_title { 
                            margin:15px 0 13px 15px ;
                            font-size:16px;
                            font-weight: 500;
                        }
                        .s_address { 
                            font-size: 13px;
                            margin: 0 0 20px 15px;
                            color:#888 ;

                        }
                        .room { 
                            display: flex;
                            border-top:1px solid #efefef ;
                            > p { 
                                color:#888 ;
                                width: 33%;
                                text-align: center;
                                font-size: 12px;
                                line-height: 30px;
                                border-right: 1px solid #efefef;
                                &:last-child {
                                    border-right: none;

                                }
                            }
                        }
                    }
                }
                .circlebtn { 
                    display: flex;
                    justify-content: center;
                    .cir { 
                        width:15px;
                        height: 15px;
                        background-color: #aaa;
                        margin: 30px 5px;
                        border-radius: 50%;
                    }
                    .cir.on {
                        background-color: #555;
                    }
                }
            }
        }
    }
    .main_cont4 { 
        display: flex;
        justify-content: center;
        background-color: #efefef;
        .center { 
            width: 1120px;
            padding: 100px 0;
            .title { 
                text-align: center;
                margin-bottom: 20px;   
            }
            .sub_title { 
                font-size: 14px;
                color: #555;
                margin-bottom: 50px;
                text-align: center;
            }
            .placeWrap { 
                display: flex;
                flex-wrap:wrap ;
                .place { 
                    &:hover{
                        .placetextwrap {
                            bottom: 0px;
                        }
                    }
                    &:nth-child(4) {
                        width:720px ;
                    }
                    width: 350px;
                    height: 250px;
                    margin:0 10px 20px;
                    position: relative;
                    overflow: hidden;
                    img { 
                        width: 100%;
                        height: 250px;
                    }
                    .placetextwrap { 
                        transition: all 0.5s;
                        position: absolute;
                        bottom: -60px;
                        left: 0;
                        width: 100%;
                        height: 60px;
                        background-color: rgba(0,0,0, 0.7);
                        p { 
                            color: #fff;
                            margin: 10px 0 10px 20px ;
                        }
                        .p_name { 
                            font-size: 15px;
                            font-weight: 500;
                        }
                        .properties { 
                            font-size: 13px;
                        }
                    }
                    
                }
            }

        }
    }
    .main_cont5 {
        background-image: url(/img/me2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        display: flex;
        justify-content: center;
        .bg { 
            width: 100%;
            height: 100%;
            position:absolute;
            background-color: rgba(0,0,0, 0.6);
        }
        .center { 
            z-index: 99;
            padding: 100px 0;
            width: 1120px;
            .countboxWrap { 
                display: flex;
                justify-content: space-between;
                .countbox { 
                    color: #fff;
                    width: 220px;
                    display: flex;
                    span {
                        display: block;
                        width: 70px;
                        height: 70px;
                        text-align: center;
                        line-height: 70px;
                        font-size:38px;
                        color: #274aba; 
                        background-color: #fff;
                        border-radius: 5px;
                        margin-right: 20px;
                    }
                    .counttext { 
                        margin-top: 5px;
                        .countUp { 
                            font-size: 30px;
                            font-weight: bold;
                            margin-bottom: 15px;
                        }
                        .listing { 
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
    .main_cont6 { 
        display: flex;
        justify-content: center;
        .center {
            width: 1120px;
            padding: 100px 0;
            text-align: center;
            .title { 
                font-size: 25px;
                font-weight: 500;
                text-align: center;
                
            }
            .sub_title { 
                font-size: 15px;
                margin: 20px 0 50px;
                color: #555;
                text-align: center;
            }
            .personboxWrap { 
                display: flex;
                justify-content: space-between;
                .person_box { 
                    width: 255px;
                    border: 1px solid #efefef;
                    >.imgWrap {
                        overflow: hidden;
                        img { 
                            width: 100%;
                            height: 210px;
                            transition: all 0.5s;
                            overflow:hidden ;
                            &:hover {
                                scale: 1.3;
                            }
                        }
                    }
                    .p_name {
                        margin: 30px 0 10px;
                        font-size: 17px;
                        font-weight: 500;
                    }
                    .p_job { 
                        font-size: 13px;
                        color: #666;
                        margin-bottom: 15px;
                    }

                    .iconWrap { 
                        display: flex;
                        justify-content: center;
                        a  { 
                            display: block;
                            margin: 0 7px 30px;
                            span { 
                                font-size: 20px;
                                color: #666;
                            }
                        }
                    }
                }
            }
        }
    }
    .main_cont7 { 
        background-image:url(/img/main5.jpg) ;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        display: flex;
        justify-content: center;
        .bg { 
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0, 0.7 );
        }
        .center { 
            z-index: 99;
            width: 1120px;
            padding: 100px 0;
            .title { 
                font-size: 25px;
                color: #fff;
                margin-bottom: 25px;
                text-align: center;
            }
            .sub_title { 
                font-size: 15px;
                color: #fff;
                margin-bottom: 50px;
                text-align: center;
            }
            .reviewWrap  {
                display: flex;
                justify-content: space-between;
                margin-top: 100px;
                .reviewbox { 
                    width: 350px;
                    background-color: #fff;
                    border-radius: 5px;
                    position: relative;
                    text-align: center;
                    img { 
                        display: block;
                        border-radius: 50%;
                        width: 100px;
                        height: 100px;
                        position: absolute;
                        top: -50px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                    .name { 
                        margin: 80px 0 15px;
                        font-size: 16px;
                        font-weight: 500;
                    }
                    .starWrap { 
                        display: flex;
                        width: 180px;
                        margin: 0 auto 20px;
                        span { 
                            display: block;
                            color: #ffa500;
                            font-size: 15px;
                        }
                        .review { 
                            color: #555;
                            margin-left: 5px;
                        }
                    }
                    .context { 
                        font-size: 14px;
                        line-height: 25px;
                        color: #555;
                        margin:0 20px 37px;
                    }
                }
            }
        }
    }
    .main_cont8 { 
        display: flex;
        justify-content: center;
        .center { 
            width: 1120px;
            padding: 100px 0;
            .title { 
                font-size: 25px;
                margin-bottom: 25px;
                text-align: center;
            }
            .sub_title { 
                font-size: 15px;
                margin-bottom: 50px;
                text-align: center;
            }
            .blogboxWrap {
                display: flex;
                justify-content: space-between;
                .blogWrap { 
                    width: 350px;
                    border: 1px solid #efefef;
                    position: relative;
                    .imgWrap { 
                        img {
                            width: 100%;
                        }
                        .dateWrap { 
                            position: absolute;
                            top: 20px;
                            right: 20px;
                            background-color: #274aba;
                            border-radius: 5px;
                            padding: 8px 15px;
                            >p {
                                color: #fff;
                                text-align: center;
                            } 
                            .num { 
                                font-size: 17px;
                                font-weight: 500;
                                margin-bottom: 5px;
                            }
                            .month {
                                font-size: 13px;
                            }
                        }
                    }
                    > img {
                        width: 67px;
                        height: 67px;
                        border-radius: 50%;
                        position: absolute;
                        top: 200px;
                        left: 17px;
                    }
                    .nameWrap { 
                        display: flex;
                        background-color: #f4f4f4;
                        align-items: center;
                        line-height: 45px;
                        .name { 
                            font-size: 13px;
                            margin-left: 100px;
                            color: #555;
                        }
                        span { 
                            color: #555;
                            font-size: 16px;
                            margin-left: 20px;
                        }
                    }
                    .b_title { 
                        margin:25px 0 15px 20px ;
                        font-size: 20px;
                        font-weight: 500;
                    }
                    .b_context {
                        margin:0 0 25px 20px ;
                        font-size: 14px;
                        color: #555;
                        line-height: 30px;
                        font-weight: 500;
                    }
                } 

            }
        }
    }
}