@media screen and (max-width:1200px)
{
    #container { 
        .intro_cont2 { 
            .center { 
               .welcomeWrap { 
                    margin-left: 50px;
               }
            }
        }
        .intro_cont3 {  
            .center {
                .chooseBoxes { 
                    flex-wrap: nowrap;
                    
                }
            }
        }
    }
}

@media screen and (max-width:1000px) 
{
    #container { 
        .intro_cont2 { 
            .center { 
                flex-direction: column;
                .intro_img { 
                    width: 100%;
                }
                .welcomeWrap  {
                    width: 100%;
                    margin-left: 0;
                    h2 { 
                        margin:25px 0  70px;
    
                        br { 
                            display: none;
                        }
                    }
                   
                }
            }
        }
        .intro_cont3 {  
            .center {
                .chooseBoxes { 
                    flex-direction: column;
                    margin-top: 50px;
                    .box { 
                        width: 97%;
                        padding:35px 0 20px 25px  ;
                        margin: 0 0 20px;
                    }
                }
            }
        }
        
        .intro_cont5 { 
            .center { 
                width: 94%;
                .peo_boxes { 
                    .box { 
                        width: 100%;
                        &:last-child {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width:768px) 
{
    #container { 
        
        .intro_cont4 {
            .center { 
                width: 480px;
            }
        }
        .intro_cont5 { 
            .center { 
                .peo_boxes { 
                    .box { 
                        &:nth-child(2) {
                            display: none;
                        }
                        img { 
                            height: 420px;
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width:580px)
{
    #container { 
        .intro_cont2 { 
            .center { 
                width: 94%;
                img { 
                    width: 100%;
                }
            }
        }
        .intro_cont3 {  
            .center {
                width: 94%;
            }
        }
        .intro_cont4 {
            .center { 
                width: 98%;
            }
        }
        .intro_cont5 { 
            .center { 
                width: 94%;
            }
        }
    }
} 
