@media screen and (max-width:1200px)
{
    #header { 
        .h_top { 
            .center { 
                width:80%;
                .log { 
                    margin-left: 83%;
                }
            }
        }
        .h_bot { 
            >.center { 
                width: 90%;
                .gnb { 
                    li { 
                        margin: 0 50px;
                    }
                }
                .subgnb { 
                    flex-wrap: wrap;
                }
            }
        }
    }
    #container { 
        .main_cont1 { 
            height: 840px;
            .mainSlider { 
                .mainview { 
                    .main_banner { 
                        .textWrap {
                            width: 35%;
                        }
                    }
                }
                .btns { 
                    >div {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        background-color: #fff;
                        width: 25px;
                        height: 50px;
                        border-radius: 20px;
                        >span { 
                            display: block;
                            line-height: 50px;
                            text-align: center;
                            font-size: 16px;
                            color: #000;
                        }
                    }
                    .next { 
                        right: -40px;
                        cursor: pointer;
                    }
                    .prev {
                        left: -40px;
                        text-align: center;
                        cursor: pointer;
                        >span {
                            position: relative;
                            left: 3px;
                        }
                    }
                }
            }
        }
        .main_cont2 { 
            .center { 
                .lookingWrap { 
                    >.imgW {
                        >img{
                            width:570px;
                        }
                    }
                  
                    .wrap2{
                        >img { 
                            width: 370px;
                        }
                    }
                }
            }
        }
        .main_cont3 { 
            >.center { 
                width: 90%;
            }
        }
        .main_cont5{
            .center { width: 80%;}
        }
        .main_cont6 {
            .center { 
                width: 90%;
                .personboxWrap { 
                    .person_box { 
                        width: 20%;
                       
                    }
                }
            }
        }
  
    }
  
}

@media screen and (max-width:1000px)
{
    #header { 
        .h_top { 
            display: none;
        }
        .h_bot { 
            .center { 
                width: 90%;
                .gnb { 
                    display: none;
                }
                .subMenu { 
                    display: block;
                }
                .subgnb.on { 
                    height: 882px;
                }
                .condition_m { 
                    display: block;
                }
            }
        }
    }
    #container { 
        .main_cont1 { 
            .mainSlider { 
                .mainview { 
                    .main_banner { 
                        .textWrap {
                            width: 40%;
                        }
                    }
                }
            }
        }
        .main_cont2 { 
            .center { 
                .lookingWrap { 
                    >.imgW {
                        >img{
                            width:500px;
                        }
                    }
                    .wrap2{
                        >img { 
                            width: 300px;
                        }
                    }
                }
            }
        }
        .main_cont4 {
            .center { 
                .placeWrap {
                    width: 95%;
                    margin: 70px auto;
                    .place { 
                        &:nth-child(4) {
                            display: none;
                        }
                        width: 100%;
                        height: 400px;
                        margin:0 0 50px;
                    }
                }
            }
        }
        .main_cont5{
            .center {
                .countboxWrap { 
                    flex-wrap: wrap;
                   .countbox { 
                     width: 310px;
                     margin-bottom: 10px;
                   }
                }
            }
        }    
        .main_cont6 {
            .center { 
                .sub_title { 
                    width: 100%;
                }
                .personboxWrap { 
                    width: 80%;
                    margin: 0 auto;
                    .person_box { 
                        width: 35%;
                        &:nth-child(3) { display: none;}
                        &:nth-child(4) { display: none;}
                    }
                }
            }
        }
        .main_cont8 {
            .center { 
                .blogboxWrap { 
                    .blogWrap { 
                        width: 390px;
                        &:last-child {
                            display: none;
                        }
                    }
                }
            }
        }
    }

}



@media screen and (max-width:768px)
{
    #header { 
        .h_bot { 
            .center { 
                .subgnbwrap { 
                    .condition_m { 
                        .log { 
                            flex-direction: column;
                            >li { 
                                margin:15px  10px;
                            }
                        }
                    }
                }
            }
            
        }
    }
    #container { 
        .main_cont1 {
            .mainSlider { 
                .mainview { 
                    .main_banner { 
                        .textWrap {
                            width: 45%;
                        }
                    }
                }
                .btns { 
                    .next { 
                        right: -30px;
                    }
                    .prev {
                        left: -30px;
                    }
                }
            }
         
        }
        .main_cont2 { 
            .center { 
                .lookingWrap { 
                    display: block;
                    >.imgW {
                        width: 100%;
                        margin-bottom: 30px;
                        >img{
                            width:100%;
                        }
                    }
                    .wrap2{
                        padding: 0;

                        >img { 
                            width: 100%;
                        }
                        >.hoverImg {
                            left: 0;
                        }
                        &:hover { 
                            >.hoverImg {
                                left: 0;
                            }
                           
                        }
                    }
                }
            }
        }
        .main_cont3 { 
            .center { 
                padding: 65px 0;
                .slider { 
                    .view { 
                        .s_box { 
                            &:nth-child(7),
                            &:nth-child(8){
                                display: none;
                            }
                           
                        }
                    }
                  
                }
            }
        }
        .main_cont4 {
            .center { 
                .placeWrap {
                    .place { 
                        width: 100%;
                        margin:0 7px 40px;
                    }
                }
            }
        }
        .main_cont5{
            .center {
                padding: 50px 0;
                    width: 37%;
                .countboxWrap { 
                    .countbox { 
                        width: 230px;
                        margin-bottom: 25px;
                    }
                }
            }
        }   
        .main_cont6 {
            .center { 
                padding: 65px 0;
                .personboxWrap { 
                    .person_box { 
                        width: 100%;
                        img {
                            height:420px ;
                        }

                    }
                }
            }
        } 
      
        .main_cont8 {
            .center { 
                .blogboxWrap { 
                    .blogWrap { 
                        width: 100%;
                        &:nth-child(2) {
                            display: none;
                        }
                  
                    }
                }
            }
        }
    }   
}

@media screen and (max-width:580px)
{
    #container { 
        .main_cont3 { 
            .center { 
                padding: 65px 0;
                .slider { 
                    .view { 
                        width: 200%;
                        .s_box { 
                            width: 100%;
                            &:nth-child(3),
                            &:nth-child(4),
                            &:nth-child(5),
                            &:nth-child(6),
                            &:nth-child(7),
                            &:nth-child(8){
                                display: none;
                            }
                           >img { 
                                height: 330px;
                           }
                        }
                    }
                  
                }
            }
        }
    }
   
}