@media screen and (max-width:1000px)
{
    #container {
        .join { 
            .center {
                width: 51%;
                .boxWrap { 
                    border: none;
                    width: 100%;
                    .box1 { 
                        border: 1px solid #eee;
                    }
                    .box2 { 
                        display: none;
                    }
                }
            }
        }
    }
}