@media screen and (max-width:1200px)
{
    #container { 
        .brdlist_cont2 {
            .center {
                .boxes { 
                    .box {
                        width: 31%;
                        height: 100%;

                        .imgs { 
                            height: 195px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1000px)
{
    #container { 
        .brdlist_cont2 {
            .center {
                .boxes { 
                    .box {
                        width: 48%;
                        .imgs { 
                            height: 240px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:768px)
{
    #container { 
        .brdlist_cont2 {
            .center {
                .boxes { 
                    .box {
                        width: 90%;
                        margin: 0 auto 50px;
                        .imgs { 
                            height: 340px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:580px)
{
    #container { 
        .brdlist_cont2 {
            .center {
                width: 95%;
                .boxes { 
                    .box {
                        width: 95%;
                    }
                }
            }
        }
    }
}
