#container {  
    .mypage_cont { 
        width: 740px;
        margin: 100px auto;
        padding: 50px 30px;
        .title { 
            margin: 0 0 80px ;
            font-size: 40px;
            font-weight: 500;
            border-bottom:1px solid #555 ;
            padding-bottom: 20px;
        }
        form { 
            .Wrap {
                margin-bottom: 20px;
                label { 
                    display: block;
                    font-size: 15px;
                    margin-bottom: 10px;
                    font-weight: 500;
                }
                input { 
                    width: 90%;
                    border-bottom: 1px solid #c7c7c7;
                    line-height:40px;
                    padding-left:20px ;
                    margin-bottom: 15px;
                }
                textarea { 
                    height: 150px;
                    line-height: 40px;
                    resize: none;
                    width: 90%;
                    padding-left:20px ;
                    border: 1px solid #c7c7c7;
                }
              
            }
            button { 
                display: block;
                width: 165px;
                line-height: 50px;
                background-color: #fff ;       
                border: 1px solid #c7c7c7;
                text-align: center; 
                color: #555;
                margin: 50px auto 0;
                transition: all 0.5s;
                &:hover { 
                    background-color: #555;
                    color: #fff;
                }
            }
        }
    }
}
