<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Barlow:wght@200;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>
<body>
    <%- include ("common/header.ejs",{menu:"blog"})%>
    <div id="container">
        <div class="blog_cont1">
            <div class="blog_textWrap">
                <p class="m_text">BLOG DETAILS FULLWIDTH</p>
                <p class="s_text">Home/BLOG DETAILS FULLWIDTH</p>
            </div>
        </div>
        <div class="blog_cont2">
            <div class="center">
                <img data-aos="fade-down" data-aos-delay="100" data-aos-duration="1200"  src="/portimg/blog.jpg"> 
                <h3>두 세대가 모여 일상이 의미 있고. 행복이 무르익는 집_</h3>
                <div class="adminWrap">
                    <div class="Wrap">
                        <span class="material-symbols-outlined">person</span>
                        <p>Admin</p>
                    </div>
                    <div class="Wrap">
                        <span class="material-symbols-outlined">maps_ugc</span>
                        <p>27</p>
                    </div>
                </div>
                <div class="text">
                   안녕하세요 공간기록 입니다. <br>
                    소개해드릴 완공 사레는 전라북도 전주에 위치한 70평대의 3층 듀플렉스 단독주택으로, 삼대가 다복하게 살고 있으며, 각 공간마다 구성원들의 <br>
                    취향이 담겨 다채로움이 돋보이는 집입니다. <br>
                    곁에 있어 안심되고 , 분위기를 함께 나눌 수 있을 뿐 아니라 개인의 공간도 존중받을 수 있어 양방향의 다채로운 매력을 담고 있는<br>
                    전주 듀플렉스 주택은 두 세대로 나뉘어 건축주님의 부모님의 공간 한 세대와 <br>
                    건축주님의 가족, 그리고 부부를 위한 공간 한 세대로 분리되어 있습니다. 
                </div>
                <div class="text">
                    전주 만성동은 지난 2021년 완공된 영화관이 있는 집 , 시네마 하우스 이후로 오랜만의 방문이었기 때문에 <br>
                    반가운 마음이 가득했던 현장이었습니다. <br>
                    만성동 듀플렉스 주택 주변으론 연녹색의 연꽃이 가득 피어있는 저수지 기지제와 그 위로 데크로 조성된 산책로가<br>
                    가로질러 있는 수변 공원이 가까이에 위치해있어, 휴식과 여유가 깃든 자연 친화적 지역입니다. <br>
                    또한 택지 중간 중간 푸른 조경이 잘 자여 있어 미관상 장점이 되는 지역입니다. 
                </div>
                <div class="comments">
                    <p>Comments Section</p>
                    <div class="sec">
                        <span class="material-symbols-outlined"> mood</span>
                        <div class="texts">
                            <p class="writer">Maikel Alisa</p>
                            <p class="time">6:42 PM 6/28/2019</p>
                            <p class="context1">Lorem Ipsum is simply dummy text of the printing industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                        </div>
                    </div>    
                    <div class="sec">
                        <span class="material-symbols-outlined"> mood</span>
                        <div class="texts">
                            <p class="writer">Maikel Alisa</p>
                            <p class="time">6:42 PM 6/28/2019</p>
                            <p class="context1">Lorem Ipsum is simply dummy text of the printing industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, it to make a type specimen book.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include ("common/footer.ejs")%>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>