<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Barlow:wght@200;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
    <%- include ("common/header.ejs",{menu:"index"})%>
    <div id="container">
        <div class="main_cont1">
           <div class='mainSlider'>
                <div class="mainview">
                    <div class="main_banner">
                        <div class="bg"></div>
                        <div class="textWrap">
                            <p data-aos="fade-down" data-aos-delay="100"  data-aos-duration="3000" class="m_text"> BEST PLACE TO FIND HOME</p>
                            <p data-aos="fade-left" data-aos-delay="200" data-aos-duration="2000" class="s_text">Allow us to guide you through the innovative stress free approach in <br> finding your dream Properties.</p>
                            <div data-aos="fade-up" data-aos-delay="300" data-aos-duration="2000" class="btnWrap">
                                <a class="nowbtn" href="#">GET STARTED NOW</a>
                                <a class="morebtn" href="#">LEARN MORE</a>
                            </div>
                        </div>
                    </div>
                    <div class="main_banner">
                        <div class="bg"></div>
                        <div class="textWrap">
                            <p class="m_text"> BEST PLACE TO FIND HOME</p>
                            <p class="s_text">Allow us to guide you through the innovative stress free approach in <br> finding your dream Properties.</p>
                            <div class="btnWrap">
                                <a class="nowbtn" href="#">GET STARTED NOW</a>
                                <a class="morebtn" href="#">LEARN MORE</a>
                            </div>
                        </div>
                    </div>
                    <div class="main_banner">
                        <div class="bg"></div>
                        <div class="textWrap">
                            <p class="m_text"> BEST PLACE TO FIND HOME</p>
                            <p class="s_text">Allow us to guide you through the innovative stress free approach in <br> finding your dream Properties.</p>
                            <div class="btnWrap">
                                <a class="nowbtn" href="#">GET STARTED NOW</a>
                                <a class="morebtn" href="#">LEARN MORE</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btns">
                    <div class="next"><span class="material-symbols-outlined">arrow_forward_ios</span></div>
                    <div class="prev"><span class="material-symbols-outlined">arrow_back_ios</span></div>
                </div>
           </div>
            
        </div>
        <div class="main_cont2">
            <div class="center">
                <h2 class="title">WHAT ARE YOU LOOKING FOR?</h2>
                <p class="sub_title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod </p>
                <div class="lookingWrap">
                    <img data-aos="fade-right" data-aos-duration="1000" src="/img/me4.jpg">
                    <div  data-aos="fade-left" data-aos-duration="1000" class="boxWrap">
                        <div class="box">
                            <span class="material-symbols-outlined">domain</span>
                            <div class="b_textWrap">
                                <p class="top">Apartments</p>
                                <p class="bot">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor .</p>
                            </div>
                        </div>
                        <div class="box">
                            <span class="material-symbols-outlined">cottage</span>
                            <div class="b_textWrap">
                                <p class="top">Houses</p>
                                <p class="bot">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. .</p>
                            </div>
                        </div>
                        <div class="box">
                            <span class="material-symbols-outlined">garage</span>
                            <div class="b_textWrap">
                                <p class="top">Garages</p>
                                <p class="bot">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            </div>
                        </div>
                        <div class="box">
                            <span class="material-symbols-outlined">database</span>
                            <div class="b_textWrap">
                                <p class="top">Commercial</p>
                                <p class="bot">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main_cont3">
            <div class="center">
                <h2 class="title">RESENTLY PROPERTIES </h2>
                <p class="sub_title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod </p>
                <div class="slider">
                    <div class="view">
                    </div>
                    <div class="circlebtn">
                        <div class="cir on"></div>
                        <div class="cir"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main_cont4">
            <div class="center">
                <h2 class="title">MOST POPULAR PLACES</h2>
                <p class="sub_title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod </p>
                <div class="placeWrap">
                  
                </div>
            </div>
        </div>
        <div class="main_cont5">
            <div class="bg"></div>
            <div class="center">
                <div class="countboxWrap">
                    <div class="countbox">
                        <span class="material-symbols-outlined"> sell</span>
                        <div class="counttext">
                            <p class="countUp count1">0</p>
                            <p class="listing">Listings For Sale</p>
                        </div>
                    </div>
                    <div class="countbox">
                        <span class="material-symbols-outlined">currency_exchange</span>                        
                        <div class="counttext">
                            <p class="countUp count2">0</p>
                            <p class="listing">Listings For Rent</p>
                        </div>
                    </div>
                    <div class="countbox">
                        <span class="material-symbols-outlined">support_agent</span>                        
                        <div class="counttext">
                            <p class="countUp count3">0</p>
                            <p class="listing">Our Agents</p>
                        </div>
                    </div>
                    <div class="countbox">
                        <span class="material-symbols-outlined">keyboard_hide</span>                        
                        <div class="counttext">
                            <p class="countUp count4">0</p>
                            <p class="listing">Computer Brokers</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="main_cont6">
            <div class="center">
                <h2 class="title">OUR AGENT</h2>
                <p class="sub_title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod </p>
                <div class="personboxWrap">
                    
                </div>
            </div>
        </div>
        <div class="main_cont7">
            <div class="bg"></div>
            <div class="center">
                <h2 class="title">OUR TESTIMONIAL</h2>
                <p class="sub_title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod </p>
                <div class="reviewWrap">
                    <div  data-aos="fade-down" data-aos-duration="1200" class="reviewbox">
                        <img src="/img/person4c2.jpg">
                        <p class="name">Kendall Jenner</p>
                        <div class="starWrap">
                            <span class="material-symbols-outlined">grade</span>
                            <span class="material-symbols-outlined">grade</span>
                            <span class="material-symbols-outlined">grade</span>
                            <span class="material-symbols-outlined">grade</span>
                            <span class="material-symbols-outlined">grade</span>
                            <span class="review">( 4.5 Reviews )</span>
                        </div>
                        <p class="context">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. .</p>
                    </div>
                    <div  data-aos="fade-down" data-aos-duration="1200" class="reviewbox">
                        <img src="/img/person3copy.jpg">
                        <p class="name">Robert Downey Junior</p>
                        <div class="starWrap">
                            <span class="material-symbols-outlined">grade</span>
                            <span class="material-symbols-outlined">grade</span>
                            <span class="material-symbols-outlined">grade</span>
                            <span class="material-symbols-outlined">grade</span>
                            <span class="material-symbols-outlined">grade</span>
                            <span class="review">( 4.5 Reviews )</span>
                        </div>
                        <p class="context">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. .</p>
                    </div>
                    <div  data-aos="fade-down" data-aos-duration="1200" class="reviewbox">
                        <img src="/img/person2copy.jpg">
                        <p class="name">Benedict Cumberbatch</p>
                        <div class="starWrap">
                            <span class="material-symbols-outlined">grade</span>
                            <span class="material-symbols-outlined">grade</span>
                            <span class="material-symbols-outlined">grade</span>
                            <span class="material-symbols-outlined">grade</span>
                            <span class="material-symbols-outlined">grade</span>
                            <span class="review">( 4.5 Reviews )</span>
                        </div>
                        <p class="context">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="main_cont8">
            <div class="center">
                <h2 class="title">OUR BLOG</h2>
                <p class="sub_title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod </p>
                <div class="blogboxWrap">
                    <div  data-aos="zoom-out" data-aos-delay="100" data-aos-duration="1200" class="blogWrap">
                        <div class="imgWrap">
                            <img src="/img/blog.jpg">
                            <div class="dateWrap">
                                <p class="num">17</p>
                                <p class="month">Jan</p>
                            </div>
                        </div>
                        <img src="/img/person2copy.jpg">
                        <div class="nameWrap">
                            <p class="name"> Downey Junior</p>
                            <span class="material-symbols-outlined">calendar_month</span>
                            <span class="material-symbols-outlined">forum</span>
                        </div>
                        <p class="b_title">Selling Your Real House</p>
                        <p class="b_context">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div data-aos="zoom-out" data-aos-delay="200" data-aos-duration="1200" class="blogWrap">
                        <div class="imgWrap">
                            <img src="/img/blog2.jpg">
                            <div class="dateWrap">
                                <p class="num">17</p>
                                <p class="month">Jan</p>
                            </div>
                        </div>
                        <img src="/img/person3copy.jpg">
                            <div class="nameWrap">
                                <p class="name">Benedict Cumber</p>
                                <span class="material-symbols-outlined">calendar_month</span>
                                <span class="material-symbols-outlined">forum</span>
                            </div>
                            <p class="b_title">Selling Your Real House</p>
                            <p class="b_context">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div data-aos="zoom-out" data-aos-delay="300" data-aos-duration="1200" class="blogWrap">
                        <div class="imgWrap">
                            <img src="/img/ho8.jpg">
                            <div class="dateWrap">
                                <p class="num">17</p>
                                <p class="month">Jan</p>
                            </div>
                        </div>
                        <img src="/img/person4c2.jpg">
                        <div class="nameWrap">
                            <p class="name"> Kendall Jenner</p>
                            <span class="material-symbols-outlined">calendar_month</span>
                            <span class="material-symbols-outlined">forum</span>
                        </div>
                        <p class="b_title">Selling Your Real House</p>
                        <p class="b_context">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. .</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include ("common/footer.ejs")%>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script>
        AOS.init();
    </script>
    <script src="/js/main_cont1_Slider.js"></script>
    <script src="/js/main_cont3_array.js"></script>
    <script src="/js/main_cont3_Slider.js"></script>
    <script src="/js/main_cont4_array.js"></script>
    <script src="/js/main_cont5_countUp.js"></script>
    <script src="/js/main_cont6_array.js"></script>

</body>
</html>