<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회사 소개페이지</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Barlow:wght@200;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>
<body>
    <%- include ("common/header.ejs",{menu:"intro"})%>
    <div id="container">
        <div class="cont1">
            <%- include ("common/banner.ejs")%>
            <div class="textWrap">
                <p class="m_text">ABOUT US</p>
                <p class="s_text">Index/About Us</p>
            </div>
        </div>
        <div class="intro_cont2">
            <div class="center">
                <img src="/portimg/intro1.jpg">
                <div class="welcomeWrap">
                    <h2>공간기록은 공간에 <br> 물음을 던지고 답을 찾아가는 <br>과정의 기록입니다</h2>
                    <p>물체가 존재 할 수 있는 빈 곳에,
                        어떠한 용도가 될 것인지, 누구를 위해서 사용될 것인지</p>
                    <p>더 좋은 공간을 위해
                        끊임없이 물음을 던지고 답을 찾아갈 것입니다.</p>
                    <p>우리는 건축물이라는 물체를 만들고
                        이는 사람이 사용 할 수 있는 빈 공간이 됩니다.
                        빈 공간에서 저마다 새로운 기록이 시작될 것입니다.</p>
                    <a data-aos="fade-left" data-aos-delay="" data-aos-duration="1200" class="more" href="#">Read More</a>
                </div>
            </div>
        </div>
        <div class="intro_cont3">
            <div class="center">
                <h2 class="title">History / Press</h2>
                <p class="sub_title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
                <div class="chooseBoxes">
                    <div class="box trust box1">
                        <div class="left">
                            <p class="num">2010</p>
                        </div>
                        <div class="right">
                            <p><span>06월</span>홈스토리 창립</p>
                            <p> <span>02월</span>홈스토리 하우스 법인 창립</p>
                            <p> <span>06월</span>홈스토리 창립 5주년</p>
                            
                            <a class="more">Read more...</a>
                        </div>
                    </div>
                    <div class="box proper box1">
                        <div class="left">  
                            <p class="num">2016</p>
                        </div>
                        <div class="right">
                            <p><span>02월</span>KINTEX 경향하우징페어 참가</p>
                            <p><span>03월</span> 제1회 홈스토리하우스 주최 친환경건축공모전 개최</p>
                            <p><span>04월</span>제주 경향하우징페어 참가</p>
                            <p><span>04월</span>2016 품질만족지수 및 기술력 1위</p>
                            <p><span>06월</span> 제주지사 설립</p>
                            <p><span>12월</span> 전 직원 일본 건축박람회 워크숍</p>
                            <a class="more">Read more...</a>
                        </div>
                    </div>
                    <div class="box easy box1">
                        <div class="left">
                            <p class="num">2017</p>
                        </div>
                        <div class="right">
                            <p><span>01월</span>품질만족지수 및 기술력 1위 기업 2년 연속 선정</p>
                            <p><span>02월</span> KINTEX 경향하우징페어 참가</p>
                            <p><span>03월</span>월 대구/대전 건축박람회 참가</p>
                            <p><span>04월</span> 광주 경향하우징페어 참가</p>
                            <p><span>07월</span> 2017 소비자만족지수 1위 기업 선정</p>
                            <p><span>12월</span>  2017 대한민국 건강주택대상 수상</p>
                            <a class="more" href="">Read more...</a>
                        </div>
                    </div>
                    <div class="box trust box2">
                        <div class="left">
                            <p class="num">2018</p>
                        </div>
                        <div class="right">
                            <p><span>01월</span> COEX 서울건축박람회 참가</p>
                            <p><span>02월</span> KINTEX 경향하우징페어 참가</p>
                            <p><span>03월</span> 본사 서울시 강남구 역삼동 이전</p>
                            <p><span>04월</span> 익산지사 설립</p>
                            <p><span>07월</span> 익산 사무실 리뉴얼</p>
                            <p><span>12월</span> 주식회사 공간기록 종합건설 설립</p>
                            <a class="more">Read more...</a>
                        </div>
                    </div>
                    <div class="box proper box2">
                        <div class="left">
                            <p class="num">2019</p>
                        </div>
                        <div class="right">
                            <p><span>01월</span>소비자만족지수 1위 기업 3년 연속 선정</p>
                            <p><span>02월</span>품질만족지수 및 기술력 1위 기업 3년 연속 선정</p>
                            <p><span>03월</span> 홈스토리하우스 건축 세미나 ‘Find Your Space’ 주최</p>  
                            <a class="more">Read more...</a>
                        </div>
                    </div>
                    <div class="box easy box2">
                        <div class="left">
                            <p class="num">2020</p>
                        </div>
                        <div class="right">
                            <p><span>01월</span> KINTEX ‘경향하우징페어’ 참가</p>
                            <p><span>02월</span> 홈스토리오픈하우스 ‘우리집 놀러 올래요?’ - 군산</p>
                            <p><span>03월</span> 홈스토리오픈하우스 - 양주</p>
                            <p><span>04월</span> SETEC 경향하우징페어 참가</p>
                            <p><span>07월</span> 창립 10주년</p>
                            <p><span>12월</span> 공간기록 리브랜딩</p>
                            <a class="more">Read more...</a>
                        </div>
                    </div>
                    <div class="box trust box3">
                        <div class="left">
                            <p class="num">2021</p>
                        </div>
                        <div class="right">
                            <p><span>06월</span>창립 11주년</p>
                            <p><span>06월</span>국립한국문학관 국제현상 공모전 Honorary Mentions 수상</p>
                            <p><span>09월</span>space.log 리브랜딩</p>
                            <p><span>10월</span>소비자만족지수 1위 기업 5년 연속 선정</p>
                            <p><span>11월</span> 올해의 건축가 100인 국제전 참가</p>                            <a class="more">Read more...</a>
                        </div>
                    </div>
                    <div class="box proper box3">
                        <div class="left">
                            <p class="num">2015</p>
                        </div>
                        <div class="right">
                            <p><span>06월</span>전원속의 내집 - 군산주택 소개</p>
                            <p><span>06월</span>스카이트래블 - ‘종부의 손맛’ 경주 주택 TV방영</p>
                            <p><span>09월</span>MBC ‘무한도전’ - 경주주택 TV방영</p>
                            <p><span>10월</span>Homify 매거진 - 경주주택 소개 </p>
                            <p><span>11월</span>전원속의 내집 - 경주주택 특집기사</p>    
                            <a class="more">Read more...</a>
                        </div>
                    </div>
                    <div class="box easy box3">
                        <div class="left">
                            <p class="num">2016</p>
                        </div>
                        <div class="right">
                            <p><span>06월</span>네이버/다음 메인 - 경주주택 소개</p>
                            <p><span>06월</span>전원속의 내 집 - 군산주택 소개</p>
                            <p><span>09월</span>네이버/다음 메인 - 군산주택 소개</p>
                            <p><span>10월</span>전원주택 라이프 - 정읍주택 소개</p>
                            <p><span>11월</span>홈스토리오픈하우스 - 군산</p> 
                            <a class="more">Read more...</a>
                        </div>
                    </div>
                </div>
                <a  data-aos="fade-up" data-aos-delay="" data-aos-duration="1200" class="readMore" href="#">Read More</a>
            </div>
        </div>
        <div class="intro_cont4">
            <div class="bg"></div>
            <div class="center">
                <h4 class="title">Who we are</h4>
                <div class="slider">
                    <div class="view">
                        <div class="s_box">
                            <div class="box">
                                <h6>Brand Mission</h6>
                                <p>공간기록은 공간에 물음을 던지고, 좋은 공간에 대한 답을 찾아 건축물이라는 물체를 만듭니다. 이는 사람이 사용할 수 있는 ‘빈 공간’이 되고 이 공간에 저마다 가지고 있는 클라이언트의 가치를 기록해 나갑니다</p>
                                <h6>Brand Vision</h6>
                                <p>공간기록이 만들어 낸 빈공간에는 공간기록과 클라이언트의 수많은 가치있는 이야기들이 새롭게 기록되어져 담깁니다</p>
                                <h6>Brand core value</h6>
                                <p>공간기록은 다섯 가지의 핵심가치를 통해 저마다의 가치를 기록해 나갈 수 있는 더 좋은 공간에 대한 답을 찾아갑니다</p>
                            </div>
                        </div>
                        <div class="s_box">
                            <div class="box ">
                                <h6> 공간기록</h6>
                                <p> 공간기록은 건축과 공간을 연구하는 다양한 사람들이 모여 열린 사고로 끊임없이 ‘왜’라는 질문을 던지고, 답을 찾아가는 과정을 반복합니다.
                                 이성적으로 공간에 접근하면서 창의적인 과정을 통하여 문제를 해결하여 감성적인 공간을 만들어냅니다.
                                 건축사사무소, 종합건설, 스페이스로그의 모든 구성원은 각자의 자리에서 최상의 성과를 내면서 같은 지향점을 가지고
                                 건축, 그리고 공간을 창출하는 활동을 지속하고 있습니다</p>
                                 <img src="/portimg/intro5.jpg">
                            </div>
                            
                        </div>
                        <div class="s_box">
                            <div class="box last_box">
                                <div class="box_left">
                                    <div class="Wrap">
                                        <h6>회사정보</h6>
                                        <div class="texts">
                                            <p> 주식회사 공간기록</p>
                                            <p> 본사 : 서울 특별시 강남구 테헤란로 230. 3F</p>
                                            <p> 지사 : 전라북도 익산시 무왕로 1478. 3F</p>
                                        </div>
                                       
                                    </div>
                                    <div class="Wrap">
                                        <h6>설립연도</h6>
                                        <p> 2010년 - 현재</p>
                                    </div>
                                    <div class="Wrap">
                                        <h6>직원 수</h6>
                                        <p>30명 +</p>
                                    </div>
                                    <div class="Wrap">
                                        <h6>업무 영역</h6>
                                        <div class="texts">
                                            <p>건축사무소[설계/감리/인허가]</p>
                                            <p>종합건설 건축공사업[신축/리모델링]</p>
                                            <p>종합건설 주택건설업 [단독주택/다가구]</p>
                                        </div>
                                        
                                    </div>
                                </div>
                                <img src="/portimg/intro8.jpg">
                            </div>
                          
                        </div>
                    </div>
                    <div class="circleBtn">
                        <div class="cir on"></div>
                        <div class="cir"></div>
                        <div class="cir"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="intro_cont5">
            <div class="center">
                <h2 class="title">Main Project</h2>
                <p class="sub_title">Design/Construction</p>
                <div class="peo_boxes">
                    <div  data-aos="fade-down" data-aos-delay="100" data-aos-duration="1200" class="box">
                        <img src="/portimg/intro2.jpg">
                        <p class="name">Hwasung Residence Location</p>
                        <p class="job"><span>Location</span>hwasung-si, Gyeonggi-do</p>
                        <p class="email"><span>Program</span>Residence</p>
                        <p class="pnone"><span>Area</span>160.89㎡ </p>
                        <p class="shop"><span>Status</span>Finalised</p>
                        <p class="shop"><span >Year</span>2021</p>
                    </div>
                    <div  data-aos="fade-down" data-aos-delay="200" data-aos-duration="1200" class="box">
                        <img src="/portimg/intro3.jpg">
                        <p class="name">Gongju Residence Location</p>
                        <p class="job"><span>Location</span>Gongju-si, Chungcheongnam-do</p>
                        <p class="email"><span>Program</span>Residence</p>
                        <p class="pnone"><span>Area</span>170.23㎡</p>
                        <p class="shop"><span>Status</span>Finalised</p>
                        <p class="shop"><span >Year</span>2021</p>
                    </div>
                    <div  data-aos="fade-down" data-aos-delay="300" data-aos-duration="1200" class="box">
                        <img src="/portimg/intro4.jpg">
                        <p class="name">Gimcheon Duplex House</p>
                        <p class="job"><span>Location</span>Gimcheon, Gyeongsangnam-do</p>
                        <p class="email"><span>Program</span>Residence</p>
                        <p class="pnone"><span>Area</span>229.73㎡ </p>
                        <p class="shop"><span>Status</span>Finalised</p>
                        <p class="shop"><span >Year</span>2021</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include ("common/footer.ejs")%>
    <script src="/js/intro.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    
</body>
</html>