<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회사 소개페이지</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Barlow:wght@200;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>
<body>
    <%- include ("common/header.ejs",{menu:"intro"})%>
    <div id="container">
        <div class="cont1">
            <%- include ("common/banner.ejs")%>
            <div class="textWrap">
                <p class="m_text">ABOUT US</p>
                <p class="s_text">Index/About Us</p>
            </div>
        </div>
        <div class="intro_cont2">
            <div class="center">
                <img src="/img/home.jpg">
                <div class="welcomeWrap">
                    <h2>Weclome to Housy</h2>
                    <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                    <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                    <a data-aos="fade-left" data-aos-delay="" data-aos-duration="1200" class="more" href="#">Read More</a>
                </div>
            </div>
        </div>
        <div class="intro_cont3">
            <div class="center">
                <h2 class="title">WHY CHOOSE US</h2>
                <p class="sub_title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
                <div class="chooseBoxes">
                    <div class="box trust box1">
                        <div class="left">
                            <span class="material-symbols-outlined">work</span>
                            <p class="num">01</p>
                        </div>
                        <div class="right">
                            <h3>Trusted By Thousands</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur <br>
                               adipiscing elit, sed do eiusmod tempor<br>
                               incididunt ut labore et dolore magna aliqua.
                            </p>
                            <a class="more">Read more...</a>
                        </div>
                    </div>
                    <div class="box proper box1">
                        <div class="left">
                            <span class="material-symbols-outlined">location_city</span>   
                            <p class="num">02</p>
                        </div>
                        <div class="right">
                            <h3>Wide Renge Of<br>Properties</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur <br>
                               adipiscing elit, sed do eiusmod tempor<br>
                               incididunt ut labore et dolore magna aliqua.<br>
                               Ut enim ad minim veniam, quis 
                            </p>
                            <a class="more">Read more...</a>
                        </div>
                    </div>
                    <div class="box easy box1">
                        <div class="left">
                            <span class="material-symbols-outlined">monetization_on</span>                           
                            <p class="num">03</p>
                        </div>
                        <div class="right">
                            <h3>Financing Made Easy</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur <br>
                               adipiscing elit, sed do eiusmod tempor<br>
                               incididunt ut labore et dolore magna aliqua.<br>
                               Ut enim ad minim veniam, quis 
                            </p>
                            <a class="more" href="">Read more...</a>
                        </div>
                    </div>
                    <div class="box trust box2">
                        <div class="left">
                            <span class="material-symbols-outlined">work</span>
                            <p class="num">04</p>
                        </div>
                        <div class="right">
                            <h3>Trusted By Thousands</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur <br>
                               adipiscing elit, sed do eiusmod tempor<br>
                               incididunt ut labore et dolore magna aliqua.<br>
                               Ut enim ad minim veniam, quis 
                            </p>
                            <a class="more">Read more...</a>
                        </div>
                    </div>
                    <div class="box proper box2">
                        <div class="left">
                            <span class="material-symbols-outlined">location_city</span>   
                            <p class="num">05</p>
                        </div>
                        <div class="right">
                            <h3>Wide Renge Of<br>Properties</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur <br>
                               adipiscing elit, sed do eiusmod tempor<br>
                               incididunt ut labore et dolore magna aliqua.<br>
                               Ut enim ad minim veniam, quis 
                            </p>
                            <a class="more">Read more...</a>
                        </div>
                    </div>
                    <div class="box easy box2">
                        <div class="left">
                            <span class="material-symbols-outlined">monetization_on</span>                           
                            <p class="num">06</p>
                        </div>
                        <div class="right">
                            <h3>Financing Made Easy</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur <br>
                               adipiscing elit, sed do eiusmod tempor<br>
                               incididunt ut labore et dolore magna aliqua.<br>
                               Ut enim ad minim veniam, quis 
                            </p>
                            <a class="more">Read more...</a>
                        </div>
                    </div>
                    <div class="box trust box3">
                        <div class="left">
                            <span class="material-symbols-outlined">work</span>
                            <p class="num">07</p>
                        </div>
                        <div class="right">
                            <h3>Trusted By Thousands</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur <br>
                               adipiscing elit, sed do eiusmod tempor<br>
                               incididunt ut labore et dolore magna aliqua.<br>
                               Ut enim ad minim veniam, quis 
                            </p>
                            <a class="more">Read more...</a>
                        </div>
                    </div>
                    <div class="box proper box3">
                        <div class="left">
                            <span class="material-symbols-outlined">location_city</span>   
                            <p class="num">08</p>
                        </div>
                        <div class="right">
                            <h3>Wide Renge Of<br>Properties</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur <br>
                               adipiscing elit, sed do eiusmod tempor<br>
                               incididunt ut labore et dolore magna aliqua.<br>
                               Ut enim ad minim veniam, quis 
                            </p>
                            <a class="more">Read more...</a>
                        </div>
                    </div>
                    <div class="box easy box3">
                        <div class="left">
                            <span class="material-symbols-outlined">monetization_on</span>                           
                            <p class="num">09</p>
                        </div>
                        <div class="right">
                            <h3>Financing Made Easy</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur <br>
                               adipiscing elit, sed do eiusmod tempor<br>
                               incididunt ut labore et dolore magna aliqua.<br>
                               Ut enim ad minim veniam, quis 
                            </p>
                            <a class="more">Read more...</a>
                        </div>
                    </div>
                </div>
                <a  data-aos="fade-up" data-aos-delay="" data-aos-duration="1200" class="readMore" href="#">Read More</a>
            </div>
        </div>
        <div class="intro_cont4">
            <div class="bg"></div>
            <div class="center">
                <h4 class="title">OUR TESTIMONIAL</h4>
                <p class="sub_t">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
                <div class="slider">
                    <div class="view">
                        <div class="s_box">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <div class="writerWrap">
                                <div class="left"><img src="/img/person4c2.jpg"></div>
                                <div class="right">
                                    <p class="w_name">Maia Blank</p>
                                    <p class="job">Office Manager</p>
                                </div>
                            </div>
                        </div>
                        <div class="s_box">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <div class="writerWrap">
                                <div class="left"><img src="/img/person2copy.jpg"></div>
                                <div class="right">
                                    <p class="w_name"> Blank</p>
                                    <p class="job"> Manager</p>
                                </div>
                            </div>
                        </div>
                        <div class="s_box">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <div class="writerWrap">
                                <div class="left"><img src="/img/person3copy.jpg"></div>
                                <div class="right">
                                    <p class="w_name">Maia </p>
                                    <p class="job">Office </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="circleBtn">
                        <div class="cir on"></div>
                        <div class="cir"></div>
                        <div class="cir"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="intro_cont5">
            <div class="center">
                <h2 class="title">OUR AGENT</h2>
                <p class="sub_title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
                <div class="peo_boxes">
                    <div  data-aos="fade-down" data-aos-delay="100" data-aos-duration="1200" class="box">
                        <img src="/img/person1.jpg">
                        <p class="job">SUPPORT MANAGER</p>
                        <p class="name">Dwayne Johnson</p>
                        <p class="email"><span class="material-symbols-outlined">mail</span>info@themevessel.com</p>
                        <p class="pnone"><span class="material-symbols-outlined">call</span>+555 456-789-1234</p>
                        <p class="shop"><span class="material-symbols-outlined">request_quote</span>sales.carshop</p>
                    </div>
                    <div  data-aos="fade-down" data-aos-delay="200" data-aos-duration="1200" class="box">
                        <img src="/img/person2.jpg">
                        <p class="job">OFFICE MANAGER</p>
                        <p class="name">Robert Downey Junior</p>
                        <p class="email"><span class="material-symbols-outlined">mail</span>info@themevessel.com</p>
                        <p class="pnone"><span class="material-symbols-outlined">call</span>+555 456-789-1234</p>
                        <p class="shop"><span class="material-symbols-outlined">request_quote</span>sales.carshop</p>
                    </div>
                    <div  data-aos="fade-down" data-aos-delay="300" data-aos-duration="1200" class="box">
                        <img src="/img/person3.jpg">
                        <p class="job">CREATIVE DIRECTOR</p>
                        <p class="name">Benedict Cumberbatch</p>
                        <p class="email"><span class="material-symbols-outlined">mail</span>info@themevessel.com</p>
                        <p class="pnone"><span class="material-symbols-outlined">call</span>+555 456-789-1234</p>
                        <p class="shop"><span class="material-symbols-outlined">request_quote</span>sales.carshop</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include ("common/footer.ejs")%>
    <script src="/js/intro.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    
</body>
</html>