#header .h_top {
  background-color: #efefef;
  display: flex;
  justify-content: center;
}
#header .h_top .center {
  width: 90%;
}
#header .h_top .center .log {
  display: flex;
  width: 200px;
  margin-left: 89%;
}
#header .h_top .center .log li {
  line-height: 40px;
  margin-left: 20px;
  flex-direction: end;
}
#header .h_top .center .log li a {
  color: #000;
  font-size: 13px;
  font-weight: 500;
}
#header .h_top .center .log li a span {
  color: #000;
  font-size: 15px;
  position: relative;
  top: 2px;
  margin-right: 5px;
}
#header .h_bot {
  display: flex;
  justify-content: center;
}
#header .h_bot .center {
  width: 90%;
  display: flex;
  justify-content: space-between;
  position: relative;
}
#header .h_bot .center .logo {
  line-height: 100px;
}
#header .h_bot .center .logo a {
  font-size: 40px;
  color: #000;
  font-weight: 500;
}
#header .h_bot .center .gnb {
  display: flex;
  justify-content: space-between;
}
#header .h_bot .center .gnb li {
  line-height: 100px;
  margin: 0 70px;
}
#header .h_bot .center .gnb li:last-child {
  margin-right: 0;
}
#header .h_bot .center .gnb li > a {
  display: block;
  color: #000;
  font-size: 20px;
  width: 100%;
  position: relative;
}
#header .h_bot .center .gnb li > a::after {
  content: "";
  display: block;
  width: 0%;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 61px;
  left: 0;
  transition: all 0.5s;
}
#header .h_bot .center .gnb li > a span {
  display: none;
  color: #fff;
  position: relative;
  top: 6px;
}
#header .h_bot .center .gnb li > a:hover {
  color: #000;
  font-weight: 500;
}
#header .h_bot .center .gnb li > a:hover::after {
  width: 105%;
}
#header .h_bot .center .gnb li a.on {
  font-weight: 500;
}
#header .h_bot .center .gnb li a.on::after {
  content: "";
  display: block;
  width: 105%;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 61px;
  left: 0;
}
#header .h_bot .center .gnb li a.on span {
  color: #fff;
}
#header .h_bot .center .subMenu {
  display: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 35px;
  height: 25px;
}
#header .h_bot .center .subMenu > span {
  transition: all 0.5s;
  position: absolute;
  width: 35px;
  height: 1px;
  background-color: #000;
}
#header .h_bot .center .subMenu .one {
  top: 10px;
}
#header .h_bot .center .subMenu .three {
  bottom: 1px;
}
#header .h_bot .center .subMenu.on .one {
  rotate: 45deg;
  top: 50%;
  transform: translateY(-50%);
}
#header .h_bot .center .subMenu.on .three {
  rotate: -45deg;
  top: 50%;
  transform: translateY(-50%);
  bottom: 12px;
}
#header .h_bot .center .subgnbwrap {
  position: absolute;
  top: 89px;
  right: -22%;
  background-color: #fff;
  width: 0%;
  z-index: 99;
  margin: 0 auto;
  overflow: hidden;
  transition: all 0.5s;
  height: 882px;
}
#header .h_bot .center .subgnbwrap .subgnb > li {
  margin: 30px 25px;
  line-height: 60px;
}
#header .h_bot .center .subgnbwrap .subgnb > li a {
  color: #000;
  font-size: 18px;
  position: relative;
}
#header .h_bot .center .subgnbwrap .subgnb > li a::after {
  content: "";
  display: block;
  width: 0%;
  height: 1px;
  background-color: #000;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: all 0.5s;
}
#header .h_bot .center .subgnbwrap .subgnb > li a:hover {
  color: #000;
  font-weight: 500;
}
#header .h_bot .center .subgnbwrap .subgnb > li a:hover::after {
  width: 105%;
}
#header .h_bot .center .subgnbwrap .condition_m {
  display: flex;
}
#header .h_bot .center .subgnbwrap .condition_m .log {
  display: flex;
  margin-top: 40px;
  padding-left: 10px;
}
#header .h_bot .center .subgnbwrap .condition_m .log li {
  margin: 0 20px;
}
#header .h_bot .center .subgnbwrap .condition_m .log li a {
  font-size: 14px;
  color: #000;
  font-weight: 500;
}
#header .h_bot .center .subgnbwrap .condition_m .log li a span {
  display: none;
}
#header .h_bot .center .subgnbwrap.active {
  width: 50%;
}

#footer {
  position: relative;
}
#footer .f_top {
  background-color: #fff;
  display: flex;
  justify-content: center;
}
#footer .f_top .center {
  width: 90%;
  color: #000;
  margin: 100px 0 50px;
  padding: 30px 20px 0;
  position: relative;
  border-top: 1px solid #555;
}
#footer .f_top .center > h6 {
  font-size: 23px;
  font-weight: 500;
  margin-bottom: 30px;
}
#footer .f_top .center > h6 .down {
  transition: all 0.5s;
  opacity: 0;
}
#footer .f_top .center > h6 .down.chg {
  display: inline-block;
  opacity: 1;
}
#footer .f_top .center > h6 .up {
  position: relative;
  top: 0;
  left: -29px;
  opacity: 0;
  transition: all 0.5s;
}
#footer .f_top .center > h6 .up.active {
  opacity: 1;
  position: relative;
  top: 0;
  left: -29px;
}
#footer .f_top .center .f_textinfo.on {
  opacity: 1;
}
#footer .f_top .center .f_textinfo {
  opacity: 0;
  overflow: hidden;
  transition: all 0.5s;
}
#footer .f_top .center .f_textinfo > p {
  line-height: 30px;
  font-size: 14px;
}
#footer .f_top .center .f_textinfo > p > span {
  margin-right: 20px;
}
#footer .f_top .center .personal {
  font-size: 14px;
  position: absolute;
  top: 30px;
  right: 0;
}
#footer .f_top .center .personal::after {
  content: "";
  width: 0%;
  height: 1px;
  background-color: #000;
  display: block;
  transition: all 0.5s;
  margin-top: 10px;
}
#footer .f_top .center .personal:hover::after {
  width: 100%;
}
#footer .f_bot {
  background-color: #efefef;
}
#footer .f_bot .copy {
  line-height: 100px;
  text-align: center;
  font-size: 14px;
  color: #555;
}
#footer .upbtn {
  position: absolute;
  right: 25px;
  bottom: 35px;
  width: 35px;
  height: 35px;
  background-color: #999;
  border-radius: 5px;
}
#footer .upbtn span {
  color: #fff;
  font-size: 20px;
  padding: 7px;
}

* {
  margin: 0;
  padding: 0;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

img, video {
  vertical-align: top;
}

table {
  border-collapse: collapse;
}

body {
  line-height: 1;
  font-family: "Abel", sans-serif;
  font-family: "Barlow", sans-serif;
  overflow-x: hidden;
}

input, select {
  border: none;
  outline: none;
}

textarea {
  outline: none;
}

.clear_fix::after {
  content: "";
  display: block;
  clear: both;
}

.cont1 {
  position: relative;
  width: 100%;
  height: 295px;
}
.cont1 .banner {
  width: 100%;
  height: 295PX;
  background-image: url(/portimg/banner.jpg);
  background-size: cover;
}
.cont1 .banner .bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.textWrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.textWrap p {
  color: #fff;
  text-align: center;
}
.textWrap .m_text {
  font-size: 35px;
  line-height: 55px;
  font-weight: 500;
}
.textWrap .s_text {
  font-size: 15px;
}

#container .center {
  width: 90%;
  margin: 0 auto;
}
#container .center .topwrap {
  padding: 100px 0 10px 10px;
  border-bottom: 1px solid #555;
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}
#container .center .topwrap .case_title {
  font-size: 40px;
  font-weight: 500;
  padding-bottom: 20px;
}
#container .center .topwrap .casebtns {
  display: flex;
  justify-content: center;
}
#container .center .topwrap .casebtns li {
  margin: 0 40px;
  line-height: 60px;
}
#container .center .topwrap .casebtns li a {
  color: #222;
  position: relative;
  width: 100%;
  display: block;
  transition: all 0.5s;
}
#container .center .topwrap .casebtns li a::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: #000;
  position: absolute;
  bottom: 15px;
  left: 0;
  transition: all 0.5s;
}
#container .center .topwrap .casebtns li a:hover {
  color: #000;
  font-weight: 500;
}
#container .center .topwrap .casebtns li a:hover::after {
  width: 102%;
}
#container .center .topwrap .casebtns li.on a {
  color: #000;
  font-weight: 500;
}
#container .center .topwrap .casebtns li.on a::after {
  content: "";
  display: block;
  width: 102%;
  height: 1px;
  background-color: #000;
  position: absolute;
  bottom: 15px;
  left: 0;
  transition: all 0.5s;
}
#container .center .contents {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
#container .center .contents .box {
  width: 28.999999%;
  margin: 0 2% 50px;
  position: relative;
  height: 600px;
}
#container .center .contents .box .imgwrap {
  width: 100%;
  overflow: hidden;
}
#container .center .contents .box .imgwrap > img {
  width: 100%;
  height: 500px;
  transition: all 0.5s;
}
#container .center .contents .box .cont_title {
  font-size: 17px;
  font-weight: 500;
  line-height: 40px;
}
#container .center .contents .box:hover .imgwrap > img {
  scale: 1.1;
}

#container .center {
  width: 90%;
}
#container .center .br_title {
  font-size: 40px;
  margin: 100px 0 30px;
  font-weight: 500;
}
#container .center .br_mainimg {
  width: 100%;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}
#container .center .br_textwrap {
  display: flex;
  border-bottom: 1px solid #333;
}
#container .center .br_textwrap .br_left {
  width: 65%;
  height: 600px;
}
#container .center .br_textwrap .br_left .left_title {
  padding-top: 50px;
  font-size: 40px;
  margin-bottom: 50px;
}
#container .center .br_textwrap .br_left .left_context {
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 50px;
}
#container .center .br_textwrap .br_left .btn {
  font-size: 14px;
  color: #000;
  font-weight: bold;
  position: relative;
}
#container .center .br_textwrap .br_left .btn::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  bottom: -5px;
  display: block;
}
#container .center .br_textwrap .br_right {
  width: 35%;
  border-left: 1px solid #333;
}
#container .center .br_textwrap .br_right .icon {
  font-size: 50px;
  text-align: center;
  line-height: 387px;
  padding-left: 10px;
}
#container .center .br_textwrap .br_right .right_textwrap {
  border-top: 1px solid #333;
  overflow: hidden;
}
#container .center .br_textwrap .br_right .right_textwrap .top_text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#container .center .br_textwrap .br_right .right_textwrap .top_text .top_title {
  line-height: 50px;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
}
#container .center .br_textwrap .br_right .right_textwrap .top_text .plus {
  width: 20px;
  height: 20px;
  position: relative;
}
#container .center .br_textwrap .br_right .right_textwrap .top_text .plus > span {
  width: 10px;
  height: 2px;
  background-color: #333;
  display: block;
  position: absolute;
  top: 10px;
  transition: all 0.5s;
}
#container .center .br_textwrap .br_right .right_textwrap .top_text .plus .two {
  rotate: 90deg;
}
#container .center .br_textwrap .br_right .right_textwrap .top_text.on .plus .two {
  rotate: 0deg;
}
#container .center .br_textwrap .br_right .right_textwrap .bot_text {
  font-size: 14px;
  line-height: 25px;
  height: 0;
  padding: 0 10px;
  transition: all 0.5s;
}
#container .center .br_textwrap .br_right .right_textwrap .bot_text.active {
  height: 90px;
}

.join {
  display: flex;
  justify-content: center;
  padding: 160px 0;
  border-top: 1px solid #eee;
}
.join .join_center {
  width: 50%;
}
.join .join_center .boxWrap {
  width: 100%;
  border: 1px solid #eee;
  display: flex;
}
.join .join_center .boxWrap .box1 {
  width: 50%;
  border-right: 1px solid #eee;
}
.join .join_center .boxWrap .box1 h2 {
  margin: 80px 0 20px;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
}
.join .join_center .boxWrap .box1 .btns {
  display: flex;
  margin: 0 auto 25px;
  width: 190px;
  border: 1px solid #eee;
  border-radius: 50px;
  overflow: hidden;
}
.join .join_center .boxWrap .box1 .btns a {
  display: block;
  text-align: center;
  width: 95px;
  font-size: 14px;
  color: #555;
  line-height: 30px;
}
.join .join_center .boxWrap .box1 .btns .log {
  border-right: 1px solid #eee;
}
.join .join_center .boxWrap .box1 .btns .log.on {
  background-color: #c7c7c7;
  color: #fff;
}
.join .join_center .boxWrap .box1 .btns .joinbtn.on {
  background-color: #c7c7c7;
  color: #fff;
}
.join .join_center .boxWrap .box1 #login_form input, .join .join_center .boxWrap .box1 #join_form input {
  display: block;
  padding: 10px 20px;
  width: 325px;
  line-height: 45px;
  border: 1px solid #eee;
  border-radius: 50px;
  margin: 0 auto 20px;
  font-size: 14px;
}
.join .join_center .boxWrap .box1 #login_form .msg, .join .join_center .boxWrap .box1 #join_form .msg {
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  width: 325px;
  font-size: 13px;
  font-weight: 500;
}
.join .join_center .boxWrap .box1 #login_form .formbtnWrap, .join .join_center .boxWrap .box1 #join_form .formbtnWrap {
  display: flex;
  justify-content: space-between;
  width: 325px;
  margin: 0 auto;
}
.join .join_center .boxWrap .box1 #login_form .formbtnWrap button, .join .join_center .boxWrap .box1 #join_form .formbtnWrap button {
  border-radius: 50px;
  width: 48%;
  background-color: #fff;
  color: #3c3a3b;
  line-height: 40px;
  text-align: center;
  border: 1px solid #efefef;
  font-size: 14px;
  transition: all 0.5s;
}
.join .join_center .boxWrap .box1 #login_form .formbtnWrap button:hover, .join .join_center .boxWrap .box1 #join_form .formbtnWrap button:hover {
  background-color: #555;
  color: #fff;
}
.join .join_center .boxWrap .box1 #join_form input {
  margin-bottom: 0;
}
.join .join_center .boxWrap .box1 .already {
  text-align: center;
  font-size: 14px;
  color: #555;
  margin: 35px 0 100px;
}
.join .join_center .boxWrap .box1 .already a {
  color: #000;
  font-size: 14px;
  font-weight: 500;
}
.join .join_center .boxWrap .box2 {
  width: 50%;
  height: 627px;
  background-image: url(/portimg/banner.jpg);
  background-size: cover;
  position: relative;
}
.join .join_center .boxWrap .box2 .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.join .join_center .boxWrap .box2 .textWrap {
  border: 5px solid #3c3a3b;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 30px 30px 90px;
}
.join .join_center .boxWrap .box2 .textWrap .top {
  font-size: 17px;
  margin: 50px 0 24px;
}

#container .mypage_cont {
  width: 740px;
  margin: 100px auto;
  padding: 50px 30px;
}
#container .mypage_cont .title {
  margin: 0 0 80px;
  font-size: 40px;
  font-weight: 500;
  border-bottom: 1px solid #555;
  padding-bottom: 20px;
}
#container .mypage_cont form .Wrap {
  margin-bottom: 20px;
}
#container .mypage_cont form .Wrap label {
  display: block;
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: 500;
}
#container .mypage_cont form .Wrap input {
  width: 90%;
  border-bottom: 1px solid #c7c7c7;
  line-height: 40px;
  padding-left: 20px;
  margin-bottom: 15px;
}
#container .mypage_cont form .Wrap textarea {
  height: 150px;
  line-height: 40px;
  resize: none;
  width: 90%;
  padding-left: 20px;
  border: 1px solid #c7c7c7;
}
#container .mypage_cont form button {
  display: block;
  width: 165px;
  line-height: 50px;
  background-color: #fff;
  border: 1px solid #c7c7c7;
  text-align: center;
  color: #555;
  margin: 50px auto 0;
  transition: all 0.5s;
}
#container .mypage_cont form button:hover {
  background-color: #555;
  color: #fff;
}

#container .main_cont1 {
  position: relative;
  width: 90%;
  height: 785px;
  margin: 0 auto 50px;
}
#container .main_cont1 .mainSlider {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#container .main_cont1 .mainSlider .mainview {
  width: 600%;
  height: 100%;
  display: flex;
  transition: all 0.5s;
}
#container .main_cont1 .mainSlider .mainview .main_banner {
  width: 100%;
  height: 100%;
  background-image: url(/portimg/main1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#container .main_cont1 .mainSlider .mainview .main_banner:nth-child(2) {
  background-image: url(/portimg/main2.jpg);
}
#container .main_cont1 .mainSlider .mainview .main_banner:nth-child(3) {
  background-image: url(/portimg/main3.jpg);
}
#container .main_cont1 .mainSlider .mainview .main_banner:nth-child(4) {
  background-image: url(/portimg/main4.jpg);
}
#container .main_cont1 .mainSlider .mainview .main_banner:nth-child(5) {
  background-image: url(/portimg/main5.jpg);
}
#container .main_cont1 .mainSlider .mainview .main_banner:nth-child(6) {
  background-image: url(/portimg/main6.jpg);
}
#container .main_cont1 .mainSlider .mainview .main_banner .bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
#container .main_cont1 .mainSlider .mainview .main_banner > .textWrap {
  width: 33%;
  position: relative;
  top: -50%;
  left: 50%;
}
#container .main_cont1 .mainSlider .mainview .main_banner > .textWrap .m_text {
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 35px;
}
#container .main_cont1 .mainSlider .mainview .main_banner > .textWrap .s_text {
  font-size: 15px;
  line-height: 30px;
}
#container .main_cont1 .mainSlider .mainview .main_banner > .textWrap .btnWrap {
  display: flex;
  width: 100%;
  margin: 30px auto 0;
}
#container .main_cont1 .mainSlider .mainview .main_banner > .textWrap .btnWrap a {
  display: block;
  margin: 10px;
  color: #fff;
  line-height: 50px;
  text-align: center;
  font-size: 14px;
}
#container .main_cont1 .mainSlider .mainview .main_banner > .textWrap .btnWrap .nowbtn {
  width: 50%;
  background-color: #555;
}
#container .main_cont1 .mainSlider .mainview .main_banner > .textWrap .btnWrap .morebtn {
  border: 1px solid #fff;
  width: 45%;
  box-sizing: border-box;
}
#container .main_cont1 .mainSlider .btns > div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  width: 25px;
  height: 50px;
  border-radius: 20px;
}
#container .main_cont1 .mainSlider .btns > div > span {
  display: block;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  color: #000;
}
#container .main_cont1 .mainSlider .btns .next {
  right: -50px;
  cursor: pointer;
}
#container .main_cont1 .mainSlider .btns .prev {
  left: -50px;
  text-align: center;
  cursor: pointer;
}
#container .main_cont1 .mainSlider .btns .prev > span {
  position: relative;
  left: 3px;
}
#container .main_cont2 {
  display: flex;
  justify-content: center;
}
#container .main_cont2 .center {
  width: 87%;
  padding: 100px 0;
}
#container .main_cont2 .center .title {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 20px;
  border-bottom: 1px solid #555;
  padding: 0 0 20px 10px;
}
#container .main_cont2 .center .sub_title {
  font-size: 14px;
  color: #555;
  margin-bottom: 50px;
  line-height: 30px;
  padding-left: 10px;
}
#container .main_cont2 .center .lookingWrap {
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 90%;
  margin: 0 auto;
}
#container .main_cont2 .center .lookingWrap > .imgW {
  width: 45%;
  height: 100%;
}
#container .main_cont2 .center .lookingWrap > .imgW > img {
  height: 800px;
  width: 800px;
}
#container .main_cont2 .center .lookingWrap > .imgW .text1 {
  width: 100px;
}
#container .main_cont2 .center .lookingWrap > .imgW .text2 {
  width: 118px;
}
#container .main_cont2 .center .lookingWrap > .imgW > .context {
  margin-left: 10px;
  margin-top: 20px;
  font-size: 22px;
  position: relative;
  transition: all 0.5s;
}
#container .main_cont2 .center .lookingWrap > .imgW > .context::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #555;
  position: absolute;
  top: 30px;
  left: 0;
  transition: all 0.5s;
  opacity: 0;
}
#container .main_cont2 .center .lookingWrap > .imgW > .context:hover {
  color: #000;
}
#container .main_cont2 .center .lookingWrap > .imgW > .context:hover::after {
  opacity: 1;
}
#container .main_cont2 .center .lookingWrap .wrap1 {
  padding-right: 150px;
}
#container .main_cont2 .center .lookingWrap .wrap2 {
  padding-left: 50px;
  position: relative;
}
#container .main_cont2 .center .lookingWrap .wrap2 > img {
  height: 500px;
  width: 500px;
}
#container .main_cont2 .center .lookingWrap .wrap2 > .hoverImg {
  position: absolute;
  left: 50px;
  top: 0;
  transition: all 0.5s;
  opacity: 0;
}
#container .main_cont2 .center .lookingWrap .wrap2:hover > .hoverImg {
  position: absolute;
  left: 50px;
  top: 0;
  opacity: 1;
}
#container .main_cont2 .center .lookingWrap .boxWrap {
  padding: 10px 0 0 100px;
}
#container .main_cont2 .center .lookingWrap .boxWrap .box {
  padding: 20px 15px;
  width: 450px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  display: flex;
}
#container .main_cont2 .center .lookingWrap .boxWrap .box span {
  color: #000;
  font-size: 40px;
}
#container .main_cont2 .center .lookingWrap .boxWrap .box .b_textWrap {
  margin-left: 15px;
}
#container .main_cont2 .center .lookingWrap .boxWrap .box .b_textWrap .top {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}
#container .main_cont2 .center .lookingWrap .boxWrap .box .b_textWrap .bot {
  font-size: 12px;
  line-height: 20px;
  color: #555;
}
#container .main_cont3 {
  display: flex;
  justify-content: center;
}
#container .main_cont3 .center {
  width: 87%;
  padding: 100px 0;
}
#container .main_cont3 .center .title {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 40px;
  border-bottom: 1px solid #555;
  padding: 0 0 20px 10px;
}
#container .main_cont3 .center .sub_title {
  font-size: 13px;
  color: #555;
  margin-bottom: 100px;
}
#container .main_cont3 .center > .slider {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}
#container .main_cont3 .center > .slider .view {
  display: flex;
  width: 200%;
  transition: all 0.5s;
}
#container .main_cont3 .center > .slider .view .s_box {
  width: 23%;
  margin: 0 1%;
  border: 1px solid #efefef;
}
#container .main_cont3 .center > .slider .view .s_box img {
  width: 100%;
  height: 250px;
}
#container .main_cont3 .center > .slider .view .s_box .s_title {
  margin: 20px 0 15px 15px;
  font-size: 14px;
  font-weight: 500;
}
#container .main_cont3 .center > .slider .view .s_box .s_address {
  font-size: 13px;
  margin: 0 0 20px 15px;
  color: #888;
}
#container .main_cont3 .center > .slider .view .s_box .room {
  display: flex;
  border-top: 1px solid #efefef;
}
#container .main_cont3 .center > .slider .view .s_box .room > p {
  color: #888;
  width: 33%;
  text-align: center;
  font-size: 12px;
  line-height: 30px;
  border-right: 1px solid #efefef;
}
#container .main_cont3 .center > .slider .view .s_box .room > p:last-child {
  border-right: none;
}
#container .main_cont3 .center > .slider .circlebtn {
  display: flex;
  justify-content: center;
}
#container .main_cont3 .center > .slider .circlebtn .cir {
  width: 30px;
  height: 5px;
  background-color: #ccc;
  margin: 50px 5px 0;
  border-radius: 50px;
}
#container .main_cont3 .center > .slider .circlebtn .cir.on {
  background-color: #777;
}
#container .main_cont4 {
  display: flex;
  justify-content: center;
  background-color: #efefef;
}
#container .main_cont4 .center {
  width: 87%;
  padding: 100px 0;
}
#container .main_cont4 .center .title {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 40px;
  border-bottom: 1px solid #555;
  padding: 0 0 20px 10px;
}
#container .main_cont4 .center .sub_title {
  font-size: 14px;
  color: #555;
  margin-bottom: 100px;
  padding-left: 10px;
}
#container .main_cont4 .center .placeWrap {
  display: flex;
  flex-wrap: wrap;
  width: 78%;
  margin: 100px auto 0;
}
#container .main_cont4 .center .placeWrap .place {
  width: 31%;
  height: 250px;
  margin: 0 1% 30px;
  position: relative;
  overflow: hidden;
}
#container .main_cont4 .center .placeWrap .place:hover .placetextwrap {
  bottom: 0px;
}
#container .main_cont4 .center .placeWrap .place:nth-child(4) {
  width: 64%;
}
#container .main_cont4 .center .placeWrap .place img {
  width: 100%;
  height: 100%;
}
#container .main_cont4 .center .placeWrap .place .placetextwrap {
  transition: all 0.5s;
  position: absolute;
  bottom: -60px;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.7);
}
#container .main_cont4 .center .placeWrap .place .placetextwrap p {
  color: #fff;
  margin: 10px 0 10px 20px;
}
#container .main_cont4 .center .placeWrap .place .placetextwrap .p_name {
  font-size: 15px;
  font-weight: 500;
}
#container .main_cont4 .center .placeWrap .place .placetextwrap .properties {
  font-size: 13px;
}
#container .main_cont5 {
  background-image: url(/portimg/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
}
#container .main_cont5 .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
}
#container .main_cont5 .center {
  z-index: 99;
  padding: 100px 0;
  width: 1120px;
}
#container .main_cont5 .center .countboxWrap {
  display: flex;
  justify-content: space-between;
}
#container .main_cont5 .center .countboxWrap .countbox {
  color: #fff;
  width: 220px;
  display: flex;
}
#container .main_cont5 .center .countboxWrap .countbox span {
  display: block;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  font-size: 38px;
  color: #555;
  background-color: #fff;
  border-radius: 5px;
  margin-right: 35px;
}
#container .main_cont5 .center .countboxWrap .countbox .counttext {
  margin-top: 5px;
}
#container .main_cont5 .center .countboxWrap .countbox .counttext .countUp {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
}
#container .main_cont5 .center .countboxWrap .countbox .counttext .listing {
  font-size: 15px;
}
#container .main_cont6 {
  display: flex;
  justify-content: center;
}
#container .main_cont6 .center {
  width: 80%;
  padding: 100px 0;
}
#container .main_cont6 .center .title {
  font-size: 40px;
  font-weight: 500;
}
#container .main_cont6 .center .sub_title {
  font-size: 13px;
  margin: 50px 0 80px;
  color: #555;
  line-height: 28px;
  width: 1000px;
}
#container .main_cont6 .center .personboxWrap {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
#container .main_cont6 .center .personboxWrap .person_box {
  width: 20%;
  margin: 0 1%;
  text-align: center;
}
#container .main_cont6 .center .personboxWrap .person_box > .imgWrap {
  overflow: hidden;
  padding: 20px;
}
#container .main_cont6 .center .personboxWrap .person_box > .imgWrap > img {
  width: 60%;
  height: 160px;
  transition: all 0.5s;
  overflow: hidden;
  display: block;
  margin: 0 auto;
}
#container .main_cont6 .center .personboxWrap .person_box > .imgWrap > img:hover {
  scale: 1.2;
}
#container .main_cont6 .center .personboxWrap .person_box .p_name {
  margin: 30px 0 20px;
  font-size: 15px;
  font-weight: 500;
}
#container .main_cont6 .center .personboxWrap .person_box .p_job {
  font-size: 13px;
  color: #666;
  margin-bottom: 25px;
  line-height: 30px;
  height: 130px;
}
#container .main_cont6 .center .personboxWrap .person_box .iconWrap {
  display: flex;
  justify-content: center;
}
#container .main_cont6 .center .personboxWrap .person_box .iconWrap a {
  display: block;
  margin: 0 7px 30px;
}
#container .main_cont6 .center .personboxWrap .person_box .iconWrap a span {
  font-size: 20px;
  color: #666;
}
#container .main_cont8 {
  display: flex;
  justify-content: center;
}
#container .main_cont8 > .center {
  width: 90%;
  padding: 100px 0 150px;
}
#container .main_cont8 > .center .title {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 80px;
  border-bottom: 1px solid #555;
  padding: 0 0 25px 10px;
}
#container .main_cont8 > .center .blogboxWrap {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
}
#container .main_cont8 > .center .blogboxWrap .blogWrap {
  width: 30%;
  border: 1px solid #efefef;
  position: relative;
}
#container .main_cont8 > .center .blogboxWrap .blogWrap .imgWrap img {
  width: 100%;
  height: 320px;
}
#container .main_cont8 > .center .blogboxWrap .blogWrap .imgWrap .dateWrap {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #c7c7c7;
  border-radius: 5px;
  padding: 8px 15px;
}
#container .main_cont8 > .center .blogboxWrap .blogWrap .imgWrap .dateWrap > p {
  color: #fff;
  text-align: center;
}
#container .main_cont8 > .center .blogboxWrap .blogWrap .imgWrap .dateWrap .num {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 5px;
}
#container .main_cont8 > .center .blogboxWrap .blogWrap .imgWrap .dateWrap .month {
  font-size: 13px;
}
#container .main_cont8 > .center .blogboxWrap .blogWrap > img {
  width: 67px;
  height: 67px;
  border-radius: 50%;
  position: absolute;
  top: 200px;
  left: 17px;
}
#container .main_cont8 > .center .blogboxWrap .blogWrap .nameWrap {
  display: flex;
  background-color: #f4f4f4;
  align-items: center;
  line-height: 45px;
}
#container .main_cont8 > .center .blogboxWrap .blogWrap .nameWrap span {
  color: #555;
  font-size: 16px;
  margin: 12px 0 12px 20px;
}
#container .main_cont8 > .center .blogboxWrap .blogWrap .b_title {
  margin: 25px 0 15px 20px;
  font-size: 20px;
  font-weight: 500;
}
#container .main_cont8 > .center .blogboxWrap .blogWrap .b_context {
  margin: 0 0 25px 20px;
  font-size: 14px;
  color: #555;
  line-height: 30px;
  font-weight: 500;
}

#container .intro_cont1 .intro_title {
  font-size: 40px;
  width: 90%;
  margin: 100px auto 0;
  border-bottom: 1px solid #333;
  padding-bottom: 30px;
  font-weight: 500;
}
#container > .intro_cont2 {
  display: flex;
  justify-content: center;
}
#container > .intro_cont2 > .center {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
}
#container > .intro_cont2 > .center .intro_img {
  width: 55%;
  height: 700px;
}
#container > .intro_cont2 > .center .welcomeWrap {
  margin-left: 100px;
  width: 45%;
}
#container > .intro_cont2 > .center .welcomeWrap h2 {
  font-size: 28px;
  line-height: 45px;
  margin: 30px 0 120px;
  font-weight: normal;
}
#container > .intro_cont2 > .center .welcomeWrap p {
  color: #555;
  font-size: 13px;
  line-height: 25px;
  margin-bottom: 25px;
}
#container > .intro_cont2 > .center .welcomeWrap > .more {
  display: block;
  border: 1px solid #efefef;
  width: 155px;
  color: #555;
  line-height: 42px;
  text-align: center;
  font-size: 15px;
  border-radius: 21px;
  margin-top: 100px;
  transition: all 0.5s;
}
#container > .intro_cont2 > .center .welcomeWrap > .more:hover {
  color: #fff;
  background-color: #555;
}
#container .intro_cont3 {
  display: flex;
  justify-content: center;
  padding: 100px 0;
}
#container .intro_cont3 > .center {
  width: 90%;
}
#container .intro_cont3 > .center .title {
  font-size: 40px;
  margin-bottom: 35px;
  border-bottom: 1px solid #555;
  padding-bottom: 30px;
  font-weight: 500;
}
#container .intro_cont3 > .center .sub_title {
  font-size: 14px;
  color: #555;
  margin: 40px 0 100px;
  padding: 10px;
}
#container .intro_cont3 > .center .chooseBoxes {
  width: 95%;
  margin: 100px auto 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#container .intro_cont3 > .center .chooseBoxes .box {
  background-color: #fff;
  border: 1px solid #efefef;
  width: 28%;
  padding: 35px 25px 20px 25px;
  margin: 0 1%;
  margin-bottom: 30px;
  display: flex;
}
#container .intro_cont3 > .center .chooseBoxes .box .left {
  margin-right: 30px;
}
#container .intro_cont3 > .center .chooseBoxes .box .left > span {
  font-size: 45px;
  color: #555;
}
#container .intro_cont3 > .center .chooseBoxes .box .left .num {
  font-size: 22px;
  color: #c7c7c7;
  margin-top: 13px;
  font-weight: bold;
  text-align: center;
}
#container .intro_cont3 > .center .chooseBoxes .box .right > p {
  font-size: 13px;
  line-height: 25px;
  margin-bottom: 8px;
}
#container .intro_cont3 > .center .chooseBoxes .box .right > p > span {
  font-size: 13px;
  font-weight: bold;
  margin-right: 10px;
}
#container .intro_cont3 > .center .chooseBoxes .box .right > .more {
  font-size: 14px;
  color: #555;
  padding-bottom: 5px;
  display: block;
  width: 80px;
  transition: all 0.5s;
  font-weight: 500;
  margin-top: 35px;
}
#container .intro_cont3 > .center .chooseBoxes .box .right > .more::after {
  content: "";
  display: block;
  width: 0%;
  height: 1px;
  background-color: #555;
  margin-top: 5px;
  transition: all 0.5s;
}
#container .intro_cont3 > .center .chooseBoxes .box .right > .more:hover::after {
  width: 100%;
}
#container .intro_cont3 > .center .chooseBoxes .box2, #container .intro_cont3 > .center .chooseBoxes .box3 {
  display: none;
  transition: all 0.5s;
}
#container .intro_cont3 > .center .readMore {
  display: block;
  border: 1px solid #efefef;
  width: 155px;
  color: #555;
  line-height: 42px;
  text-align: center;
  font-size: 15px;
  border-radius: 21px;
  background-color: #fff;
  margin: 0 auto;
  transition: all 0.5s;
}
#container .intro_cont3 > .center .readMore:hover {
  color: #fff;
  background-color: #555;
}
#container .intro_cont5 {
  display: flex;
  justify-content: center;
}
#container .intro_cont5 > .center {
  width: 90%;
  padding: 100px 0;
}
#container .intro_cont5 > .center .title {
  font-size: 40px;
  margin-bottom: 35px;
  border-bottom: 1px solid #555;
  padding-bottom: 30px;
  font-weight: 500;
}
#container .intro_cont5 > .center .sub_title {
  font-size: 15px;
  color: #555;
  margin-bottom: 100px;
}
#container .intro_cont5 > .center .peo_boxes {
  width: 95%;
  margin: 100px auto 50px;
  display: flex;
  justify-content: space-between;
}
#container .intro_cont5 > .center .peo_boxes .box {
  border: 1px solid #efefef;
  width: 30%;
}
#container .intro_cont5 > .center .peo_boxes .box img {
  width: 100%;
  height: 270px;
}
#container .intro_cont5 > .center .peo_boxes .box .name {
  font-size: 17px;
  font-weight: 500;
  margin: 20px 0 0 30px;
}
#container .intro_cont5 > .center .peo_boxes .box > p {
  margin: 0 20px 15px 30px;
  font-size: 14px;
  color: #555;
}
#container .intro_cont5 > .center .peo_boxes .box > p:last-child {
  margin-bottom: 25px;
}
#container .intro_cont5 > .center .peo_boxes .box > p span {
  font-size: 14px;
  margin-right: 25px;
  font-weight: 500;
}
#container .intro_cont5 > .center .peo_boxes .box .job {
  font-size: 13px;
  margin-top: 20px;
}

.brdinsert_cont2 {
  display: flex;
  justify-content: center;
}
.brdinsert_cont2 .center {
  width: 80%;
}
.brdinsert_cont2 .center h2 {
  margin: 110px 0 100px;
  font-weight: 500;
  font-size: 40px;
  border-bottom: 1px solid #555;
  padding: 0 0 25px 10px;
}
.brdinsert_cont2 .center .infoWrap {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.brdinsert_cont2 .center .infoWrap .info {
  margin: 0 80px;
  width: 150px;
}
.brdinsert_cont2 .center .infoWrap .info span {
  color: #555;
  font-size: 25px;
}
.brdinsert_cont2 .center .infoWrap .info .tit {
  color: #555;
  font-weight: 500;
  font-size: 14px;
  margin: 18px 0 15px;
}
.brdinsert_cont2 .center .infoWrap .info .context {
  color: #555;
  font-size: 14px;
  margin-bottom: 55px;
}
.brdinsert_cont2 .center form {
  width: 800px;
  margin: 0 auto;
}
.brdinsert_cont2 .center form .Wrap {
  display: flex;
  justify-content: space-between;
}
.brdinsert_cont2 .center form .Wrap input {
  border-bottom: 1px solid #cdcdcd;
  line-height: 45px;
  width: 350px;
  margin-bottom: 40px;
  padding-left: 20px;
  font-size: 14px;
  transition: all 0.5s;
}
.brdinsert_cont2 .center form .Wrap input:hover {
  border-bottom: 1px solid #555;
}
.brdinsert_cont2 .center form textarea {
  width: 750px;
  height: 240px;
  border: 1px solid #cdcdcd;
  padding: 20px;
  margin: 50px 0 100px;
  transition: all 0.5s;
}
.brdinsert_cont2 .center form textarea:hover {
  border: 1px solid #555;
}
.brdinsert_cont2 .center form .btnWrap {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.brdinsert_cont2 .center form .btnWrap > button {
  display: block;
  margin: 0 10px 62px;
  width: 168px;
  font-size: 13px;
  line-height: 45px;
  color: #555;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #efefef;
  transition: all 0.5s;
}
.brdinsert_cont2 .center form .btnWrap > button:hover {
  background-color: #555;
  color: #fff;
}
.brdinsert_cont2 .center form .btnWrap > a {
  display: block;
  margin: 0 10px 62px;
  width: 168px;
  font-size: 13px;
  line-height: 45px;
  color: #555;
  border: none;
  border-radius: 5px;
  background-color: #aaa;
  text-align: center;
  background-color: #efefef;
  border: 1px solid #efefef;
  transition: all 0.5s;
}
.brdinsert_cont2 .center form .btnWrap > a:hover {
  background-color: #fff;
}

.brddetail {
  display: flex;
  justify-content: center;
}
.brddetail .center {
  width: 80%;
}
.brddetail .center h2 {
  margin: 100px 0 150px;
  font-size: 40px;
  font-weight: 500;
  border-bottom: 1px solid #555;
  padding: 0 0 25px 10px;
}
.brddetail .center .row {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 15px auto;
}
.brddetail .center .row .Wrap {
  width: 45%;
}
.brddetail .center .row .Wrap div {
  color: #555;
  font-size: 14px;
  font-weight: 500;
  margin: 30px 0;
  border-bottom: 1px solid #cdcdcd;
  padding: 0 0 25px 10px;
}
.brddetail .center .fileWrap {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
.brddetail .center .fileWrap .filebox {
  width: 45%;
  margin-bottom: 30px;
}
.brddetail .center .fileWrap .filebox p {
  font-weight: 500;
  font-size: 14px;
  color: #555;
  margin: 30px 0 20px;
}
.brddetail .center .fileWrap .filebox .file {
  width: 93%;
  margin: 0;
  border: 1px solid #cdcdcd;
  height: 260px;
  color: #555;
  font-size: 13px;
  padding: 10px;
}
.brddetail .center .fileWrap .filebox .file > img {
  width: 100%;
  height: 100%;
}
.brddetail .center .fileWrap .textboxWrap {
  width: 45%;
}
.brddetail .center .fileWrap .textboxWrap .msg {
  font-weight: 500;
  font-size: 14px;
  color: #555;
  margin: 30px 0 20px;
}
.brddetail .center .fileWrap .textboxWrap .textbox {
  border: 1px solid #cdcdcd;
  height: 260px;
  color: #555;
  font-size: 13px;
  padding: 10px;
}
.brddetail .center .btnWrapper {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 50px auto 150px;
}
.brddetail .center .btnWrapper .list {
  text-align: center;
  display: block;
  width: 130px;
  line-height: 40px;
  color: #fff;
  background-color: #ccc;
  border-radius: 50px;
}
.brddetail .center .btnWrapper .btnWrap {
  display: flex;
  justify-content: space-between;
  width: 300px;
}
.brddetail .center .btnWrapper .btnWrap > a {
  text-align: center;
  display: block;
  width: 130px;
  line-height: 40px;
  color: #555;
  background-color: #fff;
  border-radius: 50px;
  border: 1px solid #555;
  transition: all 0.5s;
}
.brddetail .center .btnWrapper .btnWrap > a:hover {
  background-color: #555;
  color: #fff;
}

#container .blog_cont1 .blog1_title {
  width: 90%;
  font-size: 40px;
  margin: 100px auto;
  border-bottom: 1px solid #555;
  padding: 0 0 25px 10px;
  font-weight: 500;
}
#container > .blog_cont2 {
  margin: 100px 0;
  display: flex;
  justify-content: center;
}
#container > .blog_cont2 > .center {
  width: 85%;
}
#container > .blog_cont2 > .center img {
  width: 100%;
  height: 610px;
}
#container > .blog_cont2 > .center h3 {
  font-size: 17px;
  font-weight: bold;
  margin: 30px 0;
}
#container > .blog_cont2 > .center .adminWrap {
  display: flex;
  width: 120px;
  justify-content: space-between;
}
#container > .blog_cont2 > .center .adminWrap .Wrap {
  display: flex;
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}
#container > .blog_cont2 > .center .adminWrap .Wrap span {
  font-size: 16px;
  color: #333;
  margin-right: 5px;
}
#container > .blog_cont2 > .center .text {
  font-size: 13px;
  line-height: 30px;
  color: #333;
  margin-bottom: 50px;
}
#container > .blog_cont2 > .center .comments > p {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px;
}
#container > .blog_cont2 > .center .comments .sec {
  display: flex;
  margin-bottom: 30px;
}
#container > .blog_cont2 > .center .comments .sec span {
  margin-right: 13px;
}
#container > .blog_cont2 > .center .comments .sec .texts {
  font-size: 13px;
}
#container > .blog_cont2 > .center .comments .sec .texts .writer {
  margin-bottom: 13px;
}
#container > .blog_cont2 > .center .comments .sec .texts .time {
  color: #888;
  margin-bottom: 13px;
}
#container > .blog_cont2 > .center .comments .sec .texts .context1 {
  line-height: 20px;
}

.brdlist_cont2 {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.brdlist_cont2 .title {
  font-size: 40px;
  margin-bottom: 100px;
  border-bottom: 1px solid #555;
  padding: 0 0 25px 10px;
  font-weight: 500;
}
.brdlist_cont2 .center {
  width: 90%;
  margin: 100px 0;
}
.brdlist_cont2 .center .total {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 20px;
}
.brdlist_cont2 .center .searchWrap {
  margin-top: 30px;
  margin-left: 1230px;
  width: 400px;
}
.brdlist_cont2 .center .searchWrap form .searchBox select {
  border: 1px solid #efefef;
  padding: 5px;
  width: 100px;
  margin: 0 10px 20px 0;
}
.brdlist_cont2 .center .searchWrap form .searchBox select option {
  font-size: 14px;
}
.brdlist_cont2 .center .searchWrap form .searchBox .searbox {
  border: 1px solid #efefef;
  padding: 5px;
  width: 200px;
  margin: 0 5px;
}
.brdlist_cont2 .center .searchWrap form .searchBox .searbtn {
  width: 50px;
  font-size: 13px;
  border: none;
  background-color: #ddd;
  color: #fff;
  line-height: 28px;
  border-radius: 5px;
  margin: 0 5px;
}
.brdlist_cont2 .center .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.brdlist_cont2 .center .boxes .box {
  border: 1px solid #eee;
  width: 23%;
  height: 370px;
  margin-bottom: 50px;
}
.brdlist_cont2 .center .boxes .box .imgWrap {
  overflow: hidden;
}
.brdlist_cont2 .center .boxes .box .imgWrap .imgs, .brdlist_cont2 .center .boxes .box .imgWrap .noimg {
  width: 100%;
  height: 230px;
  transition: all 0.5s;
}
.brdlist_cont2 .center .boxes .box .imgWrap .imgs:hover, .brdlist_cont2 .center .boxes .box .imgWrap .noimg:hover {
  scale: 1.1;
}
.brdlist_cont2 .center .boxes .box .imgWrap .noimg {
  border-bottom: 1px solid #eee;
  font-size: 12px;
  text-align: center;
  line-height: 230px;
}
.brdlist_cont2 .center .boxes .box .no {
  padding: 10px;
  font-size: 12px;
  font-weight: 500;
  color: #555;
}
.brdlist_cont2 .center .boxes .box .subject {
  padding: 0 10px 10px;
  color: #274aba;
}
.brdlist_cont2 .center .boxes .box .subject > a {
  color: #000;
  font-size: 15px;
  font-weight: 500;
}
.brdlist_cont2 .center .boxes .box .name, .brdlist_cont2 .center .boxes .box .email, .brdlist_cont2 .center .boxes .box .time {
  font-size: 12px;
  color: #333;
  padding: 0 10px 10px;
}
.brdlist_cont2 .center .boxes .box .time {
  border-top: 1px solid #eee;
  padding: 10px;
}
.brdlist_cont2 .center .contactbtn {
  text-align: center;
  display: block;
  width: 160px;
  line-height: 40px;
  color: #555;
  background-color: #fefefe;
  border-radius: 50px;
  margin: 30px auto 80px;
  border: 1px solid #555;
  transition: all 0.5s;
}
.brdlist_cont2 .center .contactbtn:hover {
  color: #fff;
  background-color: #555;
}

@media screen and (max-width: 1200px) {
  #header .h_top .center {
    width: 80%;
  }
  #header .h_top .center .log {
    margin-left: 83%;
  }
  #header .h_bot > .center {
    width: 90%;
  }
  #header .h_bot > .center .gnb li {
    margin: 0 50px;
  }
  #header .h_bot > .center .subgnb {
    flex-wrap: wrap;
  }
  #container .main_cont1 {
    height: 840px;
  }
  #container .main_cont1 .mainSlider .mainview .main_banner .textWrap {
    width: 35%;
  }
  #container .main_cont1 .mainSlider .btns > div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    width: 25px;
    height: 50px;
    border-radius: 20px;
  }
  #container .main_cont1 .mainSlider .btns > div > span {
    display: block;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    color: #000;
  }
  #container .main_cont1 .mainSlider .btns .next {
    right: -40px;
    cursor: pointer;
  }
  #container .main_cont1 .mainSlider .btns .prev {
    left: -40px;
    text-align: center;
    cursor: pointer;
  }
  #container .main_cont1 .mainSlider .btns .prev > span {
    position: relative;
    left: 3px;
  }
  #container .main_cont2 .center .lookingWrap > .imgW > img {
    width: 570px;
  }
  #container .main_cont2 .center .lookingWrap .wrap2 > img {
    width: 370px;
  }
  #container .main_cont3 > .center {
    width: 90%;
  }
  #container .main_cont5 .center {
    width: 80%;
  }
  #container .main_cont6 .center {
    width: 90%;
  }
  #container .main_cont6 .center .personboxWrap .person_box {
    width: 20%;
  }
}
@media screen and (max-width: 1000px) {
  #header .h_top {
    display: none;
  }
  #header .h_bot .center {
    width: 90%;
  }
  #header .h_bot .center .gnb {
    display: none;
  }
  #header .h_bot .center .subMenu {
    display: block;
  }
  #header .h_bot .center .subgnb.on {
    height: 882px;
  }
  #header .h_bot .center .condition_m {
    display: block;
  }
  #container .main_cont1 .mainSlider .mainview .main_banner .textWrap {
    width: 40%;
  }
  #container .main_cont2 .center .lookingWrap > .imgW > img {
    width: 500px;
  }
  #container .main_cont2 .center .lookingWrap .wrap2 > img {
    width: 300px;
  }
  #container .main_cont4 .center .placeWrap {
    width: 95%;
    margin: 70px auto;
  }
  #container .main_cont4 .center .placeWrap .place {
    width: 100%;
    height: 400px;
    margin: 0 0 50px;
  }
  #container .main_cont4 .center .placeWrap .place:nth-child(4) {
    display: none;
  }
  #container .main_cont5 .center .countboxWrap {
    flex-wrap: wrap;
  }
  #container .main_cont5 .center .countboxWrap .countbox {
    width: 310px;
    margin-bottom: 10px;
  }
  #container .main_cont6 .center .sub_title {
    width: 100%;
  }
  #container .main_cont6 .center .personboxWrap {
    width: 80%;
    margin: 0 auto;
  }
  #container .main_cont6 .center .personboxWrap .person_box {
    width: 35%;
  }
  #container .main_cont6 .center .personboxWrap .person_box:nth-child(3) {
    display: none;
  }
  #container .main_cont6 .center .personboxWrap .person_box:nth-child(4) {
    display: none;
  }
  #container .main_cont8 .center .blogboxWrap .blogWrap {
    width: 390px;
  }
  #container .main_cont8 .center .blogboxWrap .blogWrap:last-child {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  #header .h_bot .center .subgnbwrap .condition_m .log {
    flex-direction: column;
  }
  #header .h_bot .center .subgnbwrap .condition_m .log > li {
    margin: 15px 10px;
  }
  #container .main_cont1 .mainSlider .mainview .main_banner .textWrap {
    width: 45%;
  }
  #container .main_cont1 .mainSlider .btns .next {
    right: -30px;
  }
  #container .main_cont1 .mainSlider .btns .prev {
    left: -30px;
  }
  #container .main_cont2 .center .lookingWrap {
    display: block;
  }
  #container .main_cont2 .center .lookingWrap > .imgW {
    width: 100%;
    margin-bottom: 30px;
  }
  #container .main_cont2 .center .lookingWrap > .imgW > img {
    width: 100%;
  }
  #container .main_cont2 .center .lookingWrap .wrap2 {
    padding: 0;
  }
  #container .main_cont2 .center .lookingWrap .wrap2 > img {
    width: 100%;
  }
  #container .main_cont2 .center .lookingWrap .wrap2 > .hoverImg {
    left: 0;
  }
  #container .main_cont2 .center .lookingWrap .wrap2:hover > .hoverImg {
    left: 0;
  }
  #container .main_cont3 .center {
    padding: 65px 0;
  }
  #container .main_cont3 .center .slider .view .s_box:nth-child(7), #container .main_cont3 .center .slider .view .s_box:nth-child(8) {
    display: none;
  }
  #container .main_cont4 .center .placeWrap .place {
    width: 100%;
    margin: 0 7px 40px;
  }
  #container .main_cont5 .center {
    padding: 50px 0;
    width: 37%;
  }
  #container .main_cont5 .center .countboxWrap .countbox {
    width: 230px;
    margin-bottom: 25px;
  }
  #container .main_cont6 .center {
    padding: 65px 0;
  }
  #container .main_cont6 .center .personboxWrap .person_box {
    width: 100%;
  }
  #container .main_cont6 .center .personboxWrap .person_box img {
    height: 420px;
  }
  #container .main_cont8 .center .blogboxWrap .blogWrap {
    width: 100%;
  }
  #container .main_cont8 .center .blogboxWrap .blogWrap:nth-child(2) {
    display: none;
  }
}
@media screen and (max-width: 580px) {
  #container .main_cont3 .center {
    padding: 65px 0;
  }
  #container .main_cont3 .center .slider .view {
    width: 200%;
  }
  #container .main_cont3 .center .slider .view .s_box {
    width: 100%;
  }
  #container .main_cont3 .center .slider .view .s_box:nth-child(3), #container .main_cont3 .center .slider .view .s_box:nth-child(4), #container .main_cont3 .center .slider .view .s_box:nth-child(5), #container .main_cont3 .center .slider .view .s_box:nth-child(6), #container .main_cont3 .center .slider .view .s_box:nth-child(7), #container .main_cont3 .center .slider .view .s_box:nth-child(8) {
    display: none;
  }
  #container .main_cont3 .center .slider .view .s_box > img {
    height: 330px;
  }
}
@media screen and (max-width: 1200px) {
  #container .intro_cont2 .center .welcomeWrap {
    margin-left: 50px;
  }
  #container .intro_cont3 .center .chooseBoxes {
    flex-wrap: nowrap;
  }
}
@media screen and (max-width: 1000px) {
  #container .intro_cont2 .center {
    flex-direction: column;
  }
  #container .intro_cont2 .center .intro_img {
    width: 100%;
  }
  #container .intro_cont2 .center .welcomeWrap {
    width: 100%;
    margin-left: 0;
  }
  #container .intro_cont2 .center .welcomeWrap h2 {
    margin: 25px 0 70px;
  }
  #container .intro_cont2 .center .welcomeWrap h2 br {
    display: none;
  }
  #container .intro_cont3 .center .chooseBoxes {
    flex-direction: column;
    margin-top: 50px;
  }
  #container .intro_cont3 .center .chooseBoxes .box {
    width: 97%;
    padding: 35px 0 20px 25px;
    margin: 0 0 20px;
  }
  #container .intro_cont5 .center {
    width: 94%;
  }
  #container .intro_cont5 .center .peo_boxes .box {
    width: 100%;
  }
  #container .intro_cont5 .center .peo_boxes .box:last-child {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  #container .intro_cont4 .center {
    width: 480px;
  }
  #container .intro_cont5 .center .peo_boxes .box:nth-child(2) {
    display: none;
  }
  #container .intro_cont5 .center .peo_boxes .box img {
    height: 420px;
  }
}
@media screen and (max-width: 580px) {
  #container .intro_cont2 .center {
    width: 94%;
  }
  #container .intro_cont2 .center img {
    width: 100%;
  }
  #container .intro_cont3 .center {
    width: 94%;
  }
  #container .intro_cont4 .center {
    width: 98%;
  }
  #container .intro_cont5 .center {
    width: 94%;
  }
}
@media screen and (max-width: 1000px) {
  #container .join .join_center {
    width: 70%;
  }
  #container .join .join_center .boxWrap {
    border: none;
    width: 100%;
  }
  #container .join .join_center .boxWrap .box1 {
    width: 100%;
    border: 1px solid #eee;
  }
  #container .join .join_center .boxWrap .box1 #login_form input, #container .join .join_center .boxWrap .box1 #join_form input {
    width: 80%;
  }
  #container .join .join_center .boxWrap .box2 {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  #container .join .join_center .boxWrap .box1 #login_form input, #container .join .join_center .boxWrap .box1 #join_form input {
    width: 80%;
  }
  #container .join .join_center .boxWrap .box1 #login_form button, #container .join .join_center .boxWrap .box1 #join_form button {
    width: 150px;
    margin-left: 15px;
  }
  #container .join .join_center .boxWrap .box1 #login_form button:last-child, #container .join .join_center .boxWrap .box1 #join_form button:last-child {
    margin-left: 10px;
  }
}
@media screen and (max-width: 580px) {
  #container .join .join_center {
    width: 90%;
  }
  #container .join .join_center .boxWrap .box1 #login_form input, #container .join .join_center .boxWrap .box1 #join_form input {
    width: 80%;
  }
}
@media screen and (max-width: 1200px) {
  #container .brdlist_cont2 .center .boxes .box {
    width: 31%;
    height: 100%;
  }
  #container .brdlist_cont2 .center .boxes .box .imgs {
    height: 195px;
  }
}
@media screen and (max-width: 1000px) {
  #container .brdlist_cont2 .center .boxes .box {
    width: 48%;
  }
  #container .brdlist_cont2 .center .boxes .box .imgs {
    height: 240px;
  }
}
@media screen and (max-width: 768px) {
  #container .brdlist_cont2 .center .boxes .box {
    width: 90%;
    margin: 0 auto 50px;
  }
  #container .brdlist_cont2 .center .boxes .box .imgs {
    height: 340px;
  }
}
@media screen and (max-width: 580px) {
  #container .brdlist_cont2 .center {
    width: 95%;
  }
  #container .brdlist_cont2 .center .boxes .box {
    width: 95%;
  }
}
@media screen and (max-width: 1200px) {
  #container .brdinsert_cont2 .center {
    width: 78%;
  }
}
@media screen and (max-width: 1000px) {
  #container .brdinsert_cont2 .center {
    width: 73%;
  }
}
@media screen and (max-width: 768px) {
  #container .brdinsert_cont2 .center {
    width: 68%;
  }
  #container .brdinsert_cont2 .center .infoWrap {
    flex-wrap: wrap;
  }
  #container .brdinsert_cont2 .center .infoWrap .info {
    width: 40%;
  }
  #container .brdinsert_cont2 .center form {
    width: 520px;
  }
  #container .brdinsert_cont2 .center form .Wrap {
    display: flex;
    flex-direction: column;
  }
  #container .brdinsert_cont2 .center form .Wrap input {
    width: 100%;
  }
  #container .brdinsert_cont2 .center form textarea {
    width: 100%;
    padding: 20px 0 20px 20px;
  }
}
@media screen and (max-width: 580px) {
  #container .brdinsert_cont2 .center {
    width: 94%;
  }
  #container .brdinsert_cont2 .center .infoWrap {
    flex-direction: column;
  }
  #container .brdinsert_cont2 .center .infoWrap .info {
    width: 40%;
    margin: 0 auto;
  }
  #container .brdinsert_cont2 .center form {
    width: 100%;
  }
  #container .brdinsert_cont2 .center form .Wrap {
    display: flex;
    flex-direction: column;
  }
  #container .brdinsert_cont2 .center form .Wrap input {
    width: 97%;
  }
  #container .brdinsert_cont2 .center form textarea {
    width: 97%;
  }
}
@media screen and (max-width: 1200px) {
  #container .brddetail .center {
    width: 80%;
  }
}
@media screen and (max-width: 1000px) {
  #container .brddetail .center {
    width: 72%;
  }
}
@media screen and (max-width: 768px) {
  #container .brddetail .center {
    width: 68%;
  }
  #container .brddetail .center .row {
    flex-direction: column;
  }
  #container .brddetail .center .row .Wrap {
    width: 100%;
  }
  #container .brddetail .center .fileWrap {
    flex-direction: column;
  }
  #container .brddetail .center .fileWrap .filebox {
    width: 100%;
  }
  #container .brddetail .center .fileWrap .textboxWrap {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 580px) {
  #container .brddetail .center {
    width: 94%;
  }
}
@media screen and (max-width: 1200px) {
  #container .blog_cont2 .center {
    width: 78%;
  }
}
@media screen and (max-width: 1000px) {
  #container .blog_cont2 .center {
    width: 70%;
  }
  #container .blog_cont2 .center img {
    height: 385px;
  }
}
@media screen and (max-width: 768px) {
  #container .blog_cont2 .center {
    width: 68%;
  }
  #container .blog_cont2 .center img {
    height: 280px;
  }
}
@media screen and (max-width: 580px) {
  #container .blog_cont2 .center {
    width: 94%;
  }
  #container .blog_cont2 .center img {
    height: 300px;
  }
}
@media screen and (max-width: 1000px) {
  #container {
    width: 100%;
  }
  #container .mypage_cont {
    width: 80%;
  }
}
@media screen and (max-width: 1000px) {
  #container > .center .topwrap .casebtns li {
    margin: 0 30px;
  }
  #container > .center .contents .box {
    width: 45%;
  }
}
@media screen and (max-width: 768px) {
  #container > .center .topwrap .casebtns li {
    margin: 0 20px;
  }
  #container > .center .contents {
    width: 90%;
    margin: 0 auto;
  }
  #container > .center .contents .box {
    width: 100%;
    margin: 0 0 30px 0;
  }
}
@media screen and (max-width: 580px) {
  #container > .center .topwrap {
    display: block;
  }
  #container > .center .topwrap .casebtns li {
    margin: 0 28px;
  }
  #container > .center .contents {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  #container .center .br_textwrap {
    display: block;
  }
  #container .center .br_textwrap .br_left {
    width: 100%;
    height: 100%;
    padding-bottom: 80px;
    border-bottom: 1px solid #333;
  }
  #container .center .br_textwrap .br_left .left_title {
    font-size: 35px;
    line-height: 50px;
  }
  #container .center .br_textwrap .br_right {
    width: 100%;
    border: none;
  }
  #container .center .br_textwrap .br_right .icon {
    line-height: 300px;
    padding-left: 0;
  }
}