<div id="header">
    <div class="h_top">
        <div class="center">
            <div class="condition">
                <% if(!userdata) {%>
                    <ul class="log">
                        <li><a href="/login"><span class="material-symbols-outlined">login</span>Login</a></li>
                        <li><a href="/join"><span class="material-symbols-outlined">how_to_reg</span>Register</a></li>
                    </ul>
                <% } else {%>
                    <ul class="log">
                        <li><a href="/"><%-userdata.joinname%>님</a></li>
                        <li><a href="/logout"><span class="material-symbols-outlined">how_to_reg</span>Logout</a></li>
                    </ul>
                <% } %>
            </div>


           
        </div>
    </div>
    <div class="h_bot">
        <div class="center">
            <h1 class="logo"><a href="/">Housy</a></h1>
            <ul class="gnb">
                <li><a href="/">Index<span class="material-symbols-outlined">arrow_drop_down</span></a></li>
                <li><a href="">Properties<span class="material-symbols-outlined">arrow_drop_down</span></a></li>
                <li><a href="">Agents<span class="material-symbols-outlined">arrow_drop_down</span></a></li>
                <li><a href="">pages<span class="material-symbols-outlined">arrow_drop_down</span></a></li>
                <li><a href="/blog">Blog<span class="material-symbols-outlined">arrow_drop_down</span></a></li>
                <li><a href="/brdlist">Board<span class="material-symbols-outlined">arrow_drop_down</span></a></li>
            </ul>
        </div>
    </div>
</div> 